<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qifenqian.bms.basemanager.virtual.mapper.MerchantTradeInfoMapper">
 
 <insert id="insertInfos" parameterType="com.qifenqian.bms.basemanager.virtual.bean.MerchantTradeInfo">
 	insert into merchant_trade_infos(
 			merchant_id,
			merchant_Name,
			agent_id,
		  	TRADE_AMT,
		  	TRADE_TIME,
		  	TRADE_STATUS
			) VALUES (
			#{merchantId, 		jdbcType=VARCHAR},
			#{merchantName, 		jdbcType=VARCHAR},
			#{agentName, 		jdbcType=VARCHAR},
		  	#{tradeAmt, jdbcType=VARCHAR},
		  	#{tradeTime, jdbcType=VARCHAR},
		  	#{tradeStatus, jdbcType=VARCHAR})
 </insert>
 <select id="getTradeInfos" parameterType="com.qifenqian.bms.basemanager.virtual.bean.MerchantTradeInfo" resultType="com.qifenqian.bms.basemanager.virtual.bean.MerchantTradeInfo">
 		select
 			merchant_Id,
			case 
			WHEN LENGTH(merchant_name )= 6 then insert(merchant_name, 2, 1, 'X')
		 	WHEN LENGTH(merchant_name )= 9 then insert(merchant_name, 2, 1, 'X')
		 	WHEN LENGTH(merchant_name )= 12 then insert(merchant_name, 2, 2, 'XX')
			WHEN LENGTH(merchant_name )> 12 then insert(merchant_name, 3, 2, 'XX')
			ELSE merchant_Name 
			END merchant_Name,
		  	TRADE_AMT,
		  	TRADE_TIME
		  from
		  	merchant_trade_info
		  <where>
		  		1=1 
		  		<if test="merchantId != null and merchantId !=''">
		  		and merchant_Id = #{merchantId,jdbcType=VARCHAR} 
		  		</if>
		  		<if test="beginMonth != null and beginMonth !=''">
		  			and	TRADE_TIME <![CDATA[ >= ]]> #{beginMonth,jdbcType=VARCHAR} 
		  		</if>
		  		<if test="endMonth != null and endMonth !=''">
		  			and	TRADE_TIME <![CDATA[ <= ]]> #{endMonth,jdbcType=VARCHAR} 
		  		</if>
		  </where>
 </select>
 <select id="getTotalAmt" parameterType="com.qifenqian.bms.basemanager.virtual.bean.MerchantTradeInfo" resultType="string">
 	SELECT
		SUM(cast(t.trade_amt AS SIGNED))
	FROM
		merchant_trade_info t
	 <where>
	  		<if test="merchantId != null and merchantId !=''">
	  			merchant_Id = #{merchantId,jdbcType=VARCHAR} 
	  		</if>
	  		<if test="beginMonth != null and beginMonth !=''">
	  			and	TRADE_TIME <![CDATA[ >= ]]> #{beginMonth,jdbcType=VARCHAR} 
	  		</if>
	  		<if test="endMonth != null and endMonth !=''">
	  			and	TRADE_TIME <![CDATA[ <= ]]> #{endMonth,jdbcType=VARCHAR} 
	  		</if>
	  </where>
 	
 </select>
</mapper>