        body {
            background-color: #F5F5F5;
            padding: 0;
            margin: 0;
            font-family: PingFangSC-Regular, PingFang SC;
        }
        
        .container {
            margin: 0.2rem;
        }
        
        .item {
            background: #ffffff;
            height: 0.8rem;
            display: flex;
            align-items: center;
            padding: 0 0.28rem;
            font-size: 0.26rem;
            justify-content: space-between;
        }
        
        .item>div {
            display: flex;
            align-items: center;
        }
        
        .title {
            color: #4C4C4C;
            width: 1.5rem;
        }
        
        .selected {
            width: 0.28rem;
            height: 0.28rem;
            margin: 0 0.05rem 0 0.4rem;
        }
        
        input {
            width: 5.4rem;
            text-align: right;
        }
        
        input::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #A0A0A0;
        }
        
        input:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #A0A0A0;
        }
        
        input::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #A0A0A0;
        }
        
        input:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #A0A0A0;
        }
        
        .arrow {
            width: 0.1rem;
            height: 0.18rem;
            margin-left: 0.1rem;
        }
        
        .defalut-rise {
            background: #ffffff;
            height: 0.98rem;
            display: flex;
            align-items: center;
            padding: 0 0.28rem;
            font-size: 0.26rem;
            color: #4C4C4C;
            justify-content: space-between;
        }
        
        .riseToggle {
            width: 0.96rem;
            height: 0.44rem;
        }
        
        .submit {
            width: 7.1rem;
            height: 0.76rem;
            color: #ffffff;
            font-size: 0.32rem;
            background: linear-gradient(135deg, rgba(9, 176, 7, 1) 0%, rgba(2, 155, 0, 1) 100%);
            box-shadow: 0px 4px 6px 0px rgba(2, 156, 1, 0.24);
            border-radius: 0.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-top: 3.5rem;
        }
        
        .submit2 {
            width: 7.1rem;
            height: 0.76rem;
            color: #028A3C;
            font-size: 0.32rem;
            background: #ffffff;
            border-radius: 0.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-top: 0.36rem;
        }