<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qifenqian.bms.basemanager.agent.mapper.AgentApplyMapper">
	
	<select id="getApplyList" parameterType="com.qifenqian.bms.basemanager.agent.bean.AgentApplyBean" 
		resultType="com.qifenqian.bms.basemanager.agent.bean.AgentApplyBean">
			select 
				a.*,
				c.*,
				d.user_name as auditUserName
			from 
				td_agent_apply a
				left join
				td_cust_info   c
				on
					a.apply_user_id = c.cust_id
				left join 
					sys_user   d
				on
					a.audit_userId = d.user_id
			<where>
				<if test="applyUserId != '' and applyUserId != null">
					a.apply_user_id= #{applyUserId,jdbcType=VARCHAR}
				</if>
				<if test="applyStatus != '' and applyStatus != null">
					AND a.apply_status= #{applyStatus,jdbcType=VARCHAR}
				</if>
				<if test="applyUserType != '' and applyUserType != null">
					AND a.apply_user_type= #{applyUserType,jdbcType=VARCHAR}
				</if>
			
				<if test="startCreateTime != null and startCreateTime != ''"> 
					<![CDATA[ 
			 			AND DATE_FORMAT(a.apply_time ,'%Y-%m-%d') >= #{startCreateTime} 
			 		]]>
				</if>
				<if test="endCreateTime != null and endCreateTime != ''"> 
					<![CDATA[ 
			   			AND DATE_FORMAT(A.apply_time ,'%Y-%m-%d') <= #{endCreateTime} 
					]]>
				</if>
				<if test = "custName != '' and custName != null">
					AND C.cust_name like CONCAT('%',#{custName},'%')
				</if>
			</where>
		
	</select>
	
	
	<select id="findCustInfo" parameterType="String" 
		resultType="com.qifenqian.bms.basemanager.agent.bean.CustVo">
			select 
				t.*,
				u.mobile,
				u.email,
				u.state merchantState,
				f.fee_code
			from 
				td_cust_info t
				left join TD_LOGIN_USER_INFO u on u.cust_Id = t.cust_Id
				left join TD_CUST_FEE_RULE f on t.cust_Id = f.cust_Id
			where  t.cust_id =#{custId,jdbcType = VARCHAR}
		
	</select>
	
	<update id="auditNotPass" parameterType="string" >
		UPDATE
			td_agent_apply
		set 
			apply_status = '02',memo = #{memo,jdbcType = VARCHAR},audit_userId = #{auditUserId,jdbcType=VARCHAR}
		where
			apply_user_id = #{custId,jdbcType = VARCHAR} 
			 
	</update>
	
	<update id="auditPass" parameterType="String" >
		UPDATE
			td_agent_apply
		set 
			apply_status = '00',audit_userId = #{auditUserId,jdbcType=VARCHAR},memo = ''
		where
			apply_user_id = #{custId,jdbcType = VARCHAR};
			
	</update>
	<update id="updateCustInfoAgentFlag" parameterType="string">
		UPDATE
			td_cust_info
		set 
			agent_flag = #{flag,jdbcType=VARCHAR}
		where
			cust_id = #{custId,jdbcType = VARCHAR};
	</update>
	<!-- <select id="getAcctSevenCust" resultType="com.qifenqian.bms.basemanager.acctsevencust.bean.AcctSevenCust" parameterType="com.qifenqian.bms.basemanager.acctsevencust.bean.AcctSevenCust">
		SELECT
			A.ACCT_ID,
			T.CUST_NAME ACCT_NAME,
			A.CUST_ID,
			U.MOBILE,
			A.BALANCE,
			A.BALANCE_FLAG,
			A.FREEZE_AMT,
			A.SUBJECT_ID,
			A.ONWAY_AMT,
			A.USABLE_AMT,
			A.STATUS,
			A.INST_DATE,
			DATE_FORMAT(A.INST_DATETIME,'%Y-%m-%d %H:%i:%s') AS INST_DATETIME,
			A.JGKJ_CARD_NO
		FROM
			STCS.ACCT_SEVEN_CUST A
		JOIN TD_LOGIN_USER_INFO U ON A.CUST_ID = U.CUST_ID
		JOIN TD_CUST_INFO T ON A.CUST_ID = T.CUST_ID
		WHERE
			1 = 1
		<if test="mobile!='' and mobile!=null">
			AND U.MOBILE =#{mobile,jdbcType=VARCHAR}
		</if>
		<if test="acctName!='' and acctName!=null">
			AND A.ACCT_NAME LIKE CONCAT('%',#{acctName},'%')
		</if>
		<if test="jgkjCardNo!='' and jgkjCardNo!=null">
			AND A.JGKJ_CARD_NO LIKE CONCAT('%',#{jgkjCardNo},'%')
		</if>
		<if test="acctId!='' and acctId!=null">
			AND A.ACCT_ID LIKE CONCAT('%',#{acctId},'%')
		</if>
		<if test="status!='' and status!=null">
			AND A.STATUS = #{status,jdbcType = VARCHAR}
		</if>
		<if test="createBeginTime != null and createBeginTime != ''"> 
			<![CDATA[ 
			 AND DATE_FORMAT(A.INST_DATETIME ,'%Y-%m-%d') >= #{createBeginTime} 
			 ]]>
		</if>
		<if test="createEndTime != null and createEndTime != ''"> 
			<![CDATA[ 
			   AND DATE_FORMAT(A.INST_DATETIME ,'%Y-%m-%d') <= #{createEndTime} 
			]]>
		</if>
		ORDER BY A.INST_DATETIME DESC
	</select>
	
	<select id="getAccountByCustId" parameterType="string" resultType="string">
		SELECT 
			A.ACCT_ID 
		FROM 
			STCS.ACCT_SEVEN_CUST A 
		WHERE 
			A.CUST_ID = #{custId,jdbcType = VARCHAR}
	</select> -->
</mapper>