<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qifenqian.bms.accounting.checkquery.mapper.BalSevenResultExceptionMapper">

	<select id="selectErrorList" resultType="com.qifenqian.bms.accounting.checkquery.bean.BalSevenResultException" parameterType="com.qifenqian.bms.accounting.checkquery.bean.BalSevenResultException">
		SELECT
			T.BAL_DATE,
			CONCAT(B.SEND_DATE,'',B.SEND_TIME) AS sendTime,
			CONCAT(B.RTN_DATE,'',B.RTN_TIME) AS resultTime,
			IFNULL((SELECT TYPE_NAME FROM BASE_TYPE WHERE TYPE_SORT = 'CHANNEL_ID' AND TYPE_CODE = T.CHANNEL_ID),T.CHANNEL_ID) CHANNEL_ID,
			IFNULL((SELECT TYPE_NAME FROM BASE_TYPE WHERE TYPE_SORT = 'BUSINESS_TYPE' AND TYPE_CODE = B.BUSINESS_TYPE),B.BUSINESS_TYPE) TRANS_TYPE,
			B.WORK_DATE,
			B.CLEAR_ID,
			A.PLATFORM_ID,
			B.TRANS_AMT,
			A.TRANS_AMT AS transAmtC,
			B.BAL_MEMO
			FROM
			BAL_FILE_BATCH T
			INNER JOIN BAL_JGKJ_SEVEN_RESULT_EXCEPTION B ON B.BATCH_ID = T.BATCH_ID AND T.STATUS='BAL_OVER' AND B.BAL_RESULT IN('BAL_ERROR')
			LEFT JOIN BAL_JGKJ_RESULT_EXCEPTION A ON A.BATCH_ID = T.BATCH_ID AND T.STATUS='BAL_OVER' AND A.BAL_RESULT IN('BAL_ERROR')
			AND B.CLEAR_ID = A.SEVENPAY_ID
		<where>
			<if test="balDate != null and '' != balDate">  
	            AND T.BAL_DATE = #{balDate,jdbcType = VARCHAR}               
			</if>
			<if test="clearId!=null and clearId!='' ">
				AND B.CLEAR_ID LIKE CONCAT('%',#{clearId},'%')
			</if>
			 <if test="beginBalTime != null and '' != beginBalTime">  
	            <![CDATA[  
	              	AND B.WORK_DATE >= #{beginBalTime, jdbcType=VARCHAR}       
	            ]]>  
	        </if>
	        <if test="endBalTime!= null and '' !=endBalTime">  
	            <![CDATA[  
	            	AND  #{endBalTime, jdbcType=VARCHAR} >= B.WORK_DATE
	            ]]>  
	        </if>  
		</where>
		ORDER BY A.INST_DATE DESC
	</select>
</mapper>