<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qifenqian.bms.accounting.checkquery.mapper.QfqexceptionMapper" >
	
  <select id="selectQfqResultExceptionList"  resultType="com.qifenqian.bms.accounting.checkquery.bean.Qfqexception" 
  	parameterType="com.qifenqian.bms.accounting.checkquery.bean.Qfqexception" >
		   SELECT 
		    	T.BAL_DATE,
		    	B.CLEAR_ID,
				B.BATCH_ID,
				B.TRANS_FLOW_ID,
				IFNULL((SELECT TYPE_NAME FROM BASE_TYPE WHERE TYPE_SORT = 'BUSINESS_TYPE' AND TYPE_CODE = B.BUSINESS_TYPE),B.BUSINESS_TYPE) BUSINESS_TYPE,
				IFNULL((SELECT TYPE_NAME FROM BASE_TYPE WHERE TYPE_SORT = 'TRANS_STATUS' AND TYPE_CODE = B.TRANS_STATUS),B.TRANS_STATUS) TRANS_STATUS,
				IFNULL((SELECT TYPE_NAME FROM BASE_TYPE WHERE TYPE_SORT = 'BAL_RESULT' AND TYPE_CODE = B.BAL_RESULT),B.BAL_RESULT) BAL_RESULT,
				B.TRANS_CODE,
				B.CARD_NO,
				B.CURR_CODE,
				B.TRANS_AMT,
				B.WORK_DATE,
				B.SEND_DATE,
				B.SEND_TIME sevenTime,
				B.RTN_DATE,
				B.RTN_TIME,
				B.RTN_SEQ,
				B.RTN_CODE,
				B.RTN_INFO,
				B.INST_DATE,
				B.INST_DATETIME,
				B.BAL_DATETIME,
				B.BAL_MEMO,
				B.DEAL_FLAG,
				B.DEAL_USER,
				B.DEAL_DATETIME,
				B.DEAL_MEMO
			FROM
				BAL_FILE_BATCH T
			INNER JOIN BAL_JGKJ_SEVEN_RESULT_EXCEPTION B ON B.BATCH_ID = T.BATCH_ID 
			AND T.STATUS='BAL_OVER' 
			AND B.BAL_RESULT IN('SELF_DOUBT','BAL_DOUBT')
  		<where>
	 		<if test="balDate != null and '' != balDate">  
	          	AND T.BAL_DATE = #{balDate,jdbcType = VARCHAR}               
	        </if>
	        <if test="clearId!=null and clearId!='' ">   
	          	AND  B.CLEAR_ID  LIKE CONCAT('%',#{clearId},'%') 
	        </if> 
	        <if test="beginBalTime!= null and '' !=beginBalTime">  
	            <![CDATA[  
	              	AND  #{beginBalTime} <= B.WORK_DATE
	            ]]>  
	        </if>  
	        <if test="endBalTime!= null and '' !=endBalTime">  
	            <![CDATA[  
	             	AND B.WORK_DATE <= #{endBalTime}  
	            ]]>  
	        </if>  
        </where>
		ORDER BY B.INST_DATETIME  DESC	    
  </select>
</mapper>