.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	width: 0.58rem;
    height: 0.58rem;
	background-color: #ffffff;
	border: 1px solid #ccc;
	line-height: 0.58rem;
	text-align: center;
    box-sizing: border-box;

}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

