<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qifenqian.bms.accounting.calendar.mapper.CalendarVoMapper">

	<select id="selectCalendarList" parameterType="com.qifenqian.bms.accounting.calendar.bean.CalendarVo" resultType="com.qifenqian.bms.accounting.calendar.bean.CalendarVo">
		SELECT
		C.*,
		(SELECT U.USER_NAME FROM SYS_USER U WHERE U.USER_ID =C.INST_USER) instUserName,
		(SELECT U.USER_NAME FROM SYS_USER U WHERE U.USER_ID =C.LASTUPDATE_USER) lastUpdateUser
		FROM
		BMS_CALENDAR C
		WHERE 1=1
		<if test="date != null and '' != date">
			AND C.DATE = #{date,jdbcType = VARCHAR}
		</if>
		<if test="isWork != null and '' != isWork">
			AND C.IS_WORK = #{isWork,jdbcType = VARCHAR}
		</if>
		ORDER BY C.DATE 
	</select>

	<update id="updateCalendar" parameterType="com.qifenqian.bms.accounting.calendar.bean.CalendarVo">
		UPDATE BMS_CALENDAR
		<set>
			<if test="holiday != null">
				HOLIDAY = #{holiday,jdbcType=VARCHAR},
			</if>
			<if test="dateType != null">
				DATE_TYPE = #{dateType,jdbcType=VARCHAR},
			</if>
			<if test="isWork != null">
				IS_WORK = #{isWork,jdbcType=VARCHAR},
			</if>
			<if test="lastupdateUser != null">
				LASTUPDATE_USER = #{lastupdateUser,jdbcType = VARCHAR},
			</if>
			
			<if test="null != comment and '' != comment">
				COMMENT = #{comment,jdbcType = VARCHAR},
			</if>
			LASTUPDATE_TIME = now()
		</set>
		WHERE CALENDAR_ID = #{calendarId,jdbcType=VARCHAR}
	</update>
</mapper>