<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qifenqian.bms.merchant.reported.mapper.AllinPayMapper">

	<select id="getAllinPayIndustryList" resultType="com.qifenqian.bms.merchant.reported.bean.Industry">
	SELECT 
		a.mcc_id industryCode,
		a.mcc_name industryName
	FROM 
		td_allinpay_mcc_info a
	</select>
	
	<select id="getProvinceName" resultType="com.qifenqian.bms.merchant.reported.bean.Province">
	SELECT
		a.area_code provinceId,
		a.area_name provinceName 
	FROM
		td_allinpay_area_info a 
	WHERE
		a.area_code IN ( SELECT DISTINCT province_code provinceId FROM td_allinpay_area_info );
	</select>
	
	<select id="getBankInfo" resultType="com.qifenqian.bms.merchant.reported.bean.Bank">
	SELECT 
		b.bank_code bankId,
		b.bank_name bankName
	FROM 
		td_allinpay_bank_info b
	</select>

	
    <select id="getTdMerchantReport" parameterType="com.qifenqian.bms.merchant.reported.bean.TdMerchantReportInfo"  resultType="com.qifenqian.bms.merchant.reported.bean.TdMerchantReportInfo">
		SELECT
			t.id,
			t.merchant_code,
			t.patch_no,
			t.channel_no,
			t.report_status,
			t.report_time
		FROM
			td_merchant_report t
		<where>
			1=1
			<if test="merchantCode != null and merchantCode != '' ">
			and t.merchant_code = #{merchantCode,jdbcType = VARCHAR} 
			</if>
			<if test="channelNo != null and channelNo != '' ">
			and t.channel_no = #{channelNo,jdbcType = VARCHAR}
			</if>
		</where>
		ORDER BY t.report_time DESC
		LIMIT 1
	</select>
    
    <update id="updateTdMerchantReport"  parameterType="com.qifenqian.bms.merchant.reported.bean.TdMerchantReportInfo" >
    	 UPDATE `stcdb`.`td_merchant_report`
			SET 
			<if test="reportStatus != null and reportStatus !='' ">
		 	`report_status` = #{reportStatus,jdbcType = VARCHAR}
		 	</if>
		 <where>
			<if test="merchantCode != null and merchantCode != '' ">
			`merchant_code` = #{merchantCode,jdbcType = VARCHAR} 
			</if>
			<if test="channelNo != null and channelNo != '' ">
			and channel_no = #{channelNo,jdbcType = VARCHAR}
			</if>
			<if test="patchNo != null and patchNo != '' ">
			and patch_no = #{patchNo,jdbcType = VARCHAR}
			</if>
		</where>
    </update>
    
    <!-- 写入商户报备表 -->
	<insert id="insertTdMerchantReport" parameterType="com.qifenqian.bms.merchant.reported.bean.TdMerchantReportInfo">
		INSERT INTO `stcdb`.`td_merchant_report` (
			`id`,
			`merchant_code`,
			`patch_no`,
			`channel_no`,
			`report_status`,
			`report_time`
		)
		VALUES
			(
				#{id,jdbcType = VARCHAR},
				#{merchantCode,jdbcType = VARCHAR},
				#{patchNo,jdbcType = VARCHAR},
				#{channelNo,jdbcType = VARCHAR},
				#{reportStatus,jdbcType = VARCHAR},
				now()
			)
	</insert>
	
	<!-- 写入商户报备明细表 -->
	<insert id="insertTdMerchantDetailInfoAllinPay" parameterType="com.qifenqian.bms.merchant.reported.bean.AllinPayBean">
		INSERT INTO `stcdb`.`td_merchant_detail_info_allin_pay` (
			`patch_no`,
			`merchant_code`,
			`cust_name`,
			`short_name`,
			`mec_type_flag`,
			`industry`,
			`contact_phone`,
			`merchant_province`,
			`merchant_city`,
			`cpr_reg_addr`,
			`cpr_reg_nm_cn`,
			`business_effective_term`,
			`business_term`,
			`business_license`,
			`expanduser`,
			`offlag`,
			`contract_date`,
			`representative_name`,
			`representative_cert_no`,
			`representative_cert_type`,
			`id_term_start`,
			`id_term_end`,
			`attention_name`,
			`attention_mobile`,
			`account_nm`,
			`account_no`,
			`clear_mode`,
			`accttp`,
			`bank_province`,
			`bank_city`,
			`branch_bank`,
			`inter_bank_code`,
			`inter_bank_name`,
			`bank_code`,
			`per_ent_flag`,
			`certify_no`,
			`business_photo_path`,
			`legal_cert_attribute1_path`,
			`legal_cert_attribute2_path`,
			`door_photo_path`,
			`shop_interior_path`,
			`hand_id_card_path`,
			`business_place_path`,
			`other_material_path`,
			`out_merchant_code`,
			`mch_id`,
			`agree_type`,
			`report_status`,
			`result_msg`,
			`flag_status`,
			`create_time`,
			`modify_time`,
			`flag_status`
		)
		VALUES
			(
				#{patchNo,jdbcType = VARCHAR},
				#{merchantCode,jdbcType = VARCHAR},
				#{custName,jdbcType = VARCHAR},
				#{shortName,jdbcType = VARCHAR},
				#{mecTypeFlag,jdbcType = VARCHAR},
				#{industry,jdbcType = VARCHAR},
				#{contactPhone,jdbcType = VARCHAR},
				#{merchantProvince,jdbcType = VARCHAR},
				#{merchantCity,jdbcType = VARCHAR},
				#{cprRegAddr,jdbcType = VARCHAR},
				#{cprRegNmCn,jdbcType = VARCHAR},
				#{businessEffectiveTerm,jdbcType = VARCHAR},
				#{businessTerm,jdbcType = VARCHAR},
				#{businessLicense,jdbcType = VARCHAR},
				#{expanduser,jdbcType = VARCHAR},
				#{offlag,jdbcType = VARCHAR},
				#{contractDate,jdbcType = VARCHAR},
				#{representativeName,jdbcType = VARCHAR},
				#{representativeCertNo,jdbcType = VARCHAR},
				#{representativeCertType,jdbcType = VARCHAR},
				#{idTermStart,jdbcType = VARCHAR},
				#{idTermEnd,jdbcType = VARCHAR},
				#{attentionName,jdbcType = VARCHAR},
				#{attentionMobile,jdbcType = VARCHAR},
				#{accountNm,jdbcType = VARCHAR},
				#{accountNo,jdbcType = VARCHAR},
				#{clearMode,jdbcType = VARCHAR},
				#{accttp,jdbcType = VARCHAR},
				#{bankProvince,jdbcType = VARCHAR},
				#{bankCity,jdbcType = VARCHAR},
				#{branchBank,jdbcType = VARCHAR},
				#{interBankCode,jdbcType = VARCHAR},
				#{interBankName,jdbcType = VARCHAR},
				#{bankCode,jdbcType = VARCHAR},
				#{perEntFlag,jdbcType = VARCHAR},
				#{certifyNo,jdbcType = VARCHAR},
				#{businessPhotoPath,jdbcType = VARCHAR},
				#{legalCertAttribute1Path,jdbcType = VARCHAR},
				#{legalCertAttribute2Path,jdbcType = VARCHAR},
				#{doorPhotoPath,jdbcType = VARCHAR},
				#{shopInteriorPath,jdbcType = VARCHAR},
				#{handIdCardPath,jdbcType = VARCHAR},
				#{businessPlacePath,jdbcType = VARCHAR},
				#{otherMaterialPath,jdbcType = VARCHAR},
				#{outMerchantCode,jdbcType = VARCHAR},
				#{mchId,jdbcType = VARCHAR},
				#{agreeType,jdbcType = VARCHAR},
				#{reportStatus,jdbcType = VARCHAR},
				#{resultMsg,jdbcType = VARCHAR},
				#{flagStatus,jdbcType = VARCHAR},
				now(),
				now(),
				#{flagStatus,jdbcType = VARCHAR}
			)
	</insert>
	
	 <!-- 写入商户报备产品明细表 -->
	<insert id="insertTdMerchantProductInfoAllinPay" parameterType="com.qifenqian.bms.merchant.reported.bean.AllinPayProductInfo">
		INSERT INTO `stcdb`.`td_merchant_product_info_allin_pay` (
			`id`,
			`merchant_code`,
			`product_id`,
			`mtrx_code`,
			`product_name`,
			`fee_rate`,
			`credit_rate`,
			`low_limit`,
			`top_limit`,
			`create_time`,
			`modify_time`
		)
		VALUES
			(
				#{id,jdbcType = VARCHAR},
				#{merchantCode,jdbcType = VARCHAR},
				#{productId,jdbcType = VARCHAR},
				#{mtrxCode,jdbcType = VARCHAR},
				#{productCode,jdbcType = VARCHAR},
				#{feeRate,jdbcType = VARCHAR},
				#{creditRate,jdbcType = VARCHAR},
				#{lowLimit,jdbcType = VARCHAR},
				#{topLimit,jdbcType = VARCHAR},
				now(),
				now()
			)
	</insert>
	
	<update id="updateTdMerchantDetailInfoAllinPay"  parameterType="com.qifenqian.bms.merchant.reported.bean.AllinPayBean" >
    	 UPDATE `stcdb`.`td_merchant_detail_info_allin_pay`
			SET 
			<if test="shortName != null and shortName !='' ">
		 	`short_name` = #{shortName,jdbcType = VARCHAR},
		 	</if>
		 	<if test="mecTypeFlag != null and mecTypeFlag !='' ">
		 	`mec_type_flag` = #{mecTypeFlag,jdbcType = VARCHAR},
		 	</if>
		 	<if test="industry != null and industry !='' ">
		 	`industry` = #{industry,jdbcType = VARCHAR},
		 	</if>
		 	<if test="contactPhone != null and contactPhone !='' ">
		 	`contact_phone` = #{contactPhone,jdbcType = VARCHAR},
		 	</if>
		 	<if test="merchantProvince != null and merchantProvince !='' ">
		 	`merchant_province` = #{merchantProvince,jdbcType = VARCHAR},
		 	</if>
		 	<if test="merchantCity != null and merchantCity !='' ">
		 	`merchant_city` = #{merchantCity,jdbcType = VARCHAR},
		 	</if>
		 	<if test="cprRegAddr != null and cprRegAddr !='' ">
		 	`cpr_reg_addr` = #{cprRegAddr,jdbcType = VARCHAR},
		 	</if>
		 	<if test="cprRegNmCn != null and cprRegNmCn !='' ">
		 	`cpr_reg_nm_cn` = #{cprRegNmCn,jdbcType = VARCHAR},
		 	</if>
		 	<if test="businessEffectiveTerm != null and businessEffectiveTerm !='' ">
		 	`business_effective_term` = #{businessEffectiveTerm,jdbcType = VARCHAR},
		 	</if>
		 	<if test="businessTerm != null and businessTerm !='' ">
		 	`business_term` = #{businessTerm,jdbcType = VARCHAR},
		 	</if>
		 	<if test="businessLicense != null and businessLicense !='' ">
		 	`business_license` = #{businessLicense,jdbcType = VARCHAR},
		 	</if>
		 	<if test="expanduser != null and expanduser !='' ">
		 	`expanduser` = #{expanduser,jdbcType = VARCHAR},
		 	</if>
		 	<if test="offlag != null and offlag !='' ">
		 	`offlag` = #{offlag,jdbcType = VARCHAR},
		 	</if>
		 	<if test="contractDate != null and contractDate !='' ">
		 	`contract_date` = #{contractDate,jdbcType = VARCHAR},
		 	</if>
		 	<if test="representativeName != null and representativeName !='' ">
		 	`representative_name` = #{representativeName,jdbcType = VARCHAR},
		 	</if>
		 	<if test="representativeCertNo != null and representativeCertNo !='' ">
		 	`representative_cert_no` = #{representativeCertNo,jdbcType = VARCHAR},
		 	</if>
		 	<if test="representativeCertType != null and representativeCertType !='' ">
		 	`representative_cert_type` = #{representativeCertType,jdbcType = VARCHAR},
		 	</if>
		 	<if test="idTermStart != null and idTermStart !='' ">
		 	`id_term_start` = #{idTermStart,jdbcType = VARCHAR},
		 	</if>
		 	<if test="idTermEnd != null and idTermEnd !='' ">
		 	`id_term_end` = #{idTermEnd,jdbcType = VARCHAR},
		 	</if>
		 	<if test="attentionName != null and attentionName !='' ">
		 	`attention_name` = #{attentionName,jdbcType = VARCHAR},
		 	</if>
		 	<if test="attentionMobile != null and attentionMobile !='' ">
		 	`attention_mobile` = #{attentionMobile,jdbcType = VARCHAR},
		 	</if>
		 	<if test="accountNm != null and accountNm !='' ">
		 	`account_nm` = #{accountNm,jdbcType = VARCHAR},
		 	</if>
		 	<if test="accountNo != null and accountNo !='' ">
		 	`account_no` = #{accountNo,jdbcType = VARCHAR},
		 	</if>
		 	<if test="clearMode != null and clearMode !='' ">
		 	`clear_mode` = #{clearMode,jdbcType = VARCHAR},
		 	</if>
		 	<if test="accttp != null and accttp !='' ">
		 	`accttp` = #{accttp,jdbcType = VARCHAR},
		 	</if>
		 	<if test="bankProvince != null and bankProvince !='' ">
		 	`bank_province` = #{bankProvince,jdbcType = VARCHAR},
		 	</if>
		 	<if test="bankCity != null and bankCity !='' ">
		 	`bank_city` = #{bankCity,jdbcType = VARCHAR},
		 	</if>
		 	<if test="branchBank != null and branchBank !='' ">
		 	`branch_bank` = #{branchBank,jdbcType = VARCHAR},
		 	</if>
		 	<if test="interBankCode != null and interBankCode !='' ">
		 	`inter_bank_code` = #{interBankCode,jdbcType = VARCHAR},
		 	</if>
		 	<if test="interBankName != null and interBankName !='' ">
		 	`inter_bank_name` = #{interBankName,jdbcType = VARCHAR},
		 	</if>
		 	<if test="bankCode != null and bankCode !='' ">
		 	`bank_code` = #{bankCode,jdbcType = VARCHAR},
		 	</if>
		 	<if test="perEntFlag != null and perEntFlag !='' ">
		 	`per_ent_flag` = #{perEntFlag,jdbcType = VARCHAR},
		 	</if>
		 	<if test="certifyNo != null and certifyNo !='' ">
		 	`certify_no` = #{certifyNo,jdbcType = VARCHAR},
		 	</if>
		 	<if test="businessPhotoPath != null and businessPhotoPath !='' ">
		 	`business_photo_path` = #{businessPhotoPath,jdbcType = VARCHAR},
		 	</if>
		 	<if test="legalCertAttribute1Path != null and legalCertAttribute1Path !='' ">
		 	`legal_cert_attribute1_path` = #{legalCertAttribute1Path,jdbcType = VARCHAR},
		 	</if>
		 	<if test="legalCertAttribute2Path != null and legalCertAttribute2Path !='' ">
		 	`legal_cert_attribute2_path` = #{legalCertAttribute2Path,jdbcType = VARCHAR},
		 	</if>
		 	<if test="doorPhotoPath != null and doorPhotoPath !='' ">
		 	`door_photo_path` = #{doorPhotoPath,jdbcType = VARCHAR},
		 	</if>
		 	<if test="shopInteriorPath != null and shopInteriorPath !='' ">
		 	`shop_interior_path` = #{shopInteriorPath,jdbcType = VARCHAR},
		 	</if>
		 	<if test="handIdCardPath != null and handIdCardPath !='' ">
		 	`hand_id_card_path` = #{handIdCardPath,jdbcType = VARCHAR},
		 	</if>
		 	<if test="businessPlacePath != null and businessPlacePath !='' ">
		 	`business_place_path` = #{businessPlacePath,jdbcType = VARCHAR},
		 	</if>
		 	<if test="otherMaterialPath != null and otherMaterialPath !='' ">
		 	`other_material_path` = #{otherMaterialPath,jdbcType = VARCHAR},
		 	</if>
		 	<if test="outMerchantCode != null and outMerchantCode !='' ">
		 	`out_merchant_code` = #{outMerchantCode,jdbcType = VARCHAR},
		 	</if>
		 	<if test="mchId != null and mchId !='' ">
		 	`mch_id` = #{mchId,jdbcType = VARCHAR},
		 	</if>
		 	<if test="agreeType != null and agreeType !='' ">
		 	`agree_type` = #{agreeType,jdbcType = VARCHAR},
		 	</if>
		 	<if test="reportStatus != null and reportStatus !='' ">
		 	`report_status` = #{reportStatus,jdbcType = VARCHAR},
		 	</if>
		 	<if test="resultMsg != null and resultMsg !='' ">
		 	`result_msg` = #{resultMsg,jdbcType = VARCHAR},
		 	</if>
		 	`modify_time` = now()
		 WHERE
			`patch_no` = #{patchNo,jdbcType = VARCHAR}
		 or
		 	`merchant_code` = #{merchantCode,jdbcType = VARCHAR}
    </update>
    
    
    <update id="updateTdMerchantProductInfoAllinPay"  parameterType="com.qifenqian.bms.merchant.reported.bean.AllinPayProductInfo" >
    	 UPDATE `stcdb`.`td_merchant_product_info_allin_pay`
			SET 
			<if test="feeRate != null and feeRate !='' ">
		 	`fee_rate` = #{feeRate,jdbcType = VARCHAR},
		 	</if>
		 	<if test="creditRate != null and creditRate !='' ">
		 	`credit_rate` = #{creditRate,jdbcType = VARCHAR},
		 	</if>
		 	<if test="lowLimit != null and lowLimit !='' ">
		 	`low_limit` = #{lowLimit,jdbcType = VARCHAR},
		 	</if>
		 	<if test="topLimit != null and topLimit !='' ">
		 	`top_limit` = #{topLimit,jdbcType = VARCHAR},
		 	</if>
		 	`modify_time` = now()
		 WHERE
			`product_id` = #{productId,jdbcType = VARCHAR}
		 and 
		 	`merchant_code` = #{merchantCode,jdbcType = VARCHAR}
		 and 
		 	`mtrx_code` = #{mtrxCode,jdbcType = VARCHAR}
		 	
    </update>
    
    <select id="getAllinPayTdMerchantDetail" resultType="com.qifenqian.bms.merchant.reported.bean.TdMerchantDetailInfoAllinPay" parameterType="java.lang.String">
    	SELECT t.* FROM td_merchant_detail_info_allin_pay t where t.patch_no = #{patchNo, jdbcType=VARCHAR}
    </select>
    
    <select id="selectTdMerchantProductInfoAllinPay" parameterType="com.qifenqian.bms.merchant.reported.bean.TdMerchantDetailInfo" resultType="com.qifenqian.bms.merchant.reported.bean.TdMerchantDetailInfo">
    	
		SELECT
			t1.*,
			t2.report_status AS detailStatus,
			t2.result_msg,
		    t2.out_merchant_code, 
			f.CUST_NAME,
			f.short_name,
			f.cust_id,
			f.merchant_email
		FROM
			td_merchant_report t1
			INNER JOIN td_merchant_detail_info_allin_pay t2 ON t1.patch_no = t2.patch_no
			LEFT JOIN td_cust_info f ON f.MERCHANT_CODE = t1.merchant_code 
		
		<where>
			<if test="merchantCode != null and merchantCode != '' ">
			 and t1.merchant_code= #{merchantCode,jdbcType=VARCHAR}
			</if>
			<if test="patchNo != null and patchNo != '' ">
			 and t1.patch_no = #{patchNo,jdbcType=VARCHAR}
			</if>
			<if test="channelNo != null and channelNo != '' ">
			 and t1.channel_no = #{channelNo,jdbcType=VARCHAR}
			</if>
			<if test="channelCode != null and channelCode != '' ">
			 and t1.channel_no = #{channelCode,jdbcType=VARCHAR}
			</if>
			<if test="reportStatus != null and reportStatus != '' ">
			 and t1.report_status = #{reportStatus,jdbcType=VARCHAR}
			</if>
			<if test="custName != null and custName != '' ">
			 and f.cust_name = #{custName,jdbcType=VARCHAR}
			</if>
			<if test="email != null and email != '' ">
			 and f.merchant_email = #{email,jdbcType=VARCHAR}
			</if>
			<if test="startModifyTime != null and '' != startModifyTime">
				<![CDATA[
	              AND DATE_FORMAT(t1.report_time,'%Y-%m-%d')>= #{startModifyTime}
	            ]]>
			</if>
			<if test="endModifyTime !=null and '' !=endModifyTime">
				<![CDATA[
	              AND DATE_FORMAT(t1.report_time,'%Y-%m-%d')<= #{endModifyTime}
	            ]]>
			</if>
		</where>
		ORDER BY t1.report_time DESC
    </select>
</mapper>