<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qifenqian.bms.accounting.exception.dao.clearunionpay.mapper.ClearUnionpayMapper">
	
	<select id="selectUnionpayClearByFLowId" resultType="com.qifenqian.bms.accounting.exception.dao.clearunionpay.bean.ClearUnionpay">
		SELECT T.*
		  FROM CLEAR_UNIONPAY T
		 WHERE T.TRANS_FLOW_ID = #{transFlowId, jdbcType=VARCHAR}
	</select>
  	
</mapper>