<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qifenqian.bms.basemanager.market.mapper.MarketAuthoMapper">
	<!-- 根据查询条件获取用户详情列表 -->
	<select id="listInfo" parameterType="com.qifenqian.bms.basemanager.market.bean.MarketRole" resultType="com.qifenqian.bms.basemanager.market.bean.MarketRole">
		SELECT
			T.USER_CODE,
			T.USER_NAME,
			T.USER_ROLE
		FROM
			BMS_MARKET_ROLE_INFO T
		<where>
			<if test="userCode != null and userCode !='' "> AND T.USER_CODE LIKE CONCAT('%',#{userCode, jdbcType=VARCHAR},'%')</if>
			<if test="userName != null and userName !='' "> AND T.USER_NAME LIKE CONCAT('%',#{userName, jdbcType=VARCHAR},'%')</if>
			<if test="userRole != null and userRole !='' "> AND T.USER_ROLE=#{userRole, jdbcType=VARCHAR}</if>	
		</where>
		
	</select>
	<!--  保存用户详情信息  -->
	<insert id="saveInfo" parameterType="com.qifenqian.bms.basemanager.market.bean.MarketRole">
		INSERT INTO BMS_MARKET_ROLE_INFO
		(
			`USER_CODE`,
			`USER_NAME`,
			`USER_ROLE`
		)
		VALUES
		(
			#{userCode},
			#{userName},
			#{userRole}
		)	
	</insert>
	<!-- 修改用户详情信息 -->
	<update id="updateInfo" parameterType="com.qifenqian.bms.basemanager.market.bean.MarketRole">
		UPDATE BMS_MARKET_ROLE_INFO
		<set>
			USER_NAME=#{userName},
			USER_ROLE=#{userRole}
		</set>
		WHERE USER_CODE=#{userCode}
	</update>
	
	<!-- 根据用户账号和用户姓名删除用户信息-->
	<delete id="deleteInfo" parameterType="com.qifenqian.bms.basemanager.market.bean.MarketRole">
		DELETE 
		FROM
			BMS_MARKET_ROLE_INFO
		WHERE 
			USER_CODE=#{userCode} AND USER_NAME=#{userName}
	</delete>
	
	<!-- 根据用户id查询用户role_id -->
	<select id="listRoleId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT
			T.ROLE_ID	
		FROM
			SYS_USER_ROLE T
		WHERE
			T.USER_ID=#{userId}	
	</select>
	
	<!-- 根据角色名获取角色id -->
	<select id="getRoleIdByName" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT 
			T.ROLE_ID
		FROM
			SYS_ROLE T 
		WHERE 
			T.ROLE_NAME=#{roleName}
	</select>
	<!-- 根据角色id和用户id删除相应的角色信息 -->
	<delete id="deleteRoleId" parameterType="java.lang.Integer">
		DELETE 
		FROM 
			SYS_USER_ROLE 
		WHERE 
			ROLE_ID=#{0} AND USER_ID=#{1}
	</delete>
</mapper>