<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qifenqian.bms.bal.accountResult.mapper.BalInternalDataMapper" >
  <resultMap id="BaseResultMap" type="com.qifenqian.bms.bal.accountResult.bean.BalInternalData" >
    <id column="data_id" property="dataId" jdbcType="INTEGER" />
    <result column="channel_id" property="channelId" jdbcType="INTEGER" />
    <result column="clear_id" property="clearId" jdbcType="VARCHAR" />
    <result column="work_date" property="workDate" jdbcType="VARCHAR" />
    <result column="inst_user" property="instUser" jdbcType="INTEGER" />
    <result column="inst_date" property="instDate" jdbcType="VARCHAR" />
    <result column="inst_datetime" property="instDatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    data_id, channel_id, clear_id, work_date, inst_user, inst_date, inst_datetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qifenqian.bms.bal.accountResult.bean.BalInternalDataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bal_internal_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bal_internal_data
    where data_id = #{dataId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bal_internal_data
    where data_id = #{dataId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qifenqian.bms.bal.accountResult.bean.BalInternalDataExample" >
    delete from bal_internal_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qifenqian.bms.bal.accountResult.bean.BalInternalData" >
    insert into bal_internal_data (data_id, channel_id, clear_id, 
      work_date, inst_user, inst_date, 
      inst_datetime)
    values (#{dataId,jdbcType=INTEGER}, #{channelId,jdbcType=INTEGER}, #{clearId,jdbcType=VARCHAR}, 
      #{workDate,jdbcType=VARCHAR}, #{instUser,jdbcType=INTEGER}, #{instDate,jdbcType=VARCHAR}, 
      #{instDatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qifenqian.bms.bal.accountResult.bean.BalInternalData" >
    insert into bal_internal_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dataId != null" >
        data_id,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="clearId != null" >
        clear_id,
      </if>
      <if test="workDate != null" >
        work_date,
      </if>
      <if test="instUser != null" >
        inst_user,
      </if>
      <if test="instDate != null" >
        inst_date,
      </if>
      <if test="instDatetime != null" >
        inst_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dataId != null" >
        #{dataId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="clearId != null" >
        #{clearId,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null" >
        #{workDate,jdbcType=VARCHAR},
      </if>
      <if test="instUser != null" >
        #{instUser,jdbcType=INTEGER},
      </if>
      <if test="instDate != null" >
        #{instDate,jdbcType=VARCHAR},
      </if>
      <if test="instDatetime != null" >
        #{instDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qifenqian.bms.bal.accountResult.bean.BalInternalDataExample" resultType="java.lang.Integer" >
    select count(*) from bal_internal_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bal_internal_data
    <set >
      <if test="record.dataId != null" >
        data_id = #{record.dataId,jdbcType=INTEGER},
      </if>
      <if test="record.channelId != null" >
        channel_id = #{record.channelId,jdbcType=INTEGER},
      </if>
      <if test="record.clearId != null" >
        clear_id = #{record.clearId,jdbcType=VARCHAR},
      </if>
      <if test="record.workDate != null" >
        work_date = #{record.workDate,jdbcType=VARCHAR},
      </if>
      <if test="record.instUser != null" >
        inst_user = #{record.instUser,jdbcType=INTEGER},
      </if>
      <if test="record.instDate != null" >
        inst_date = #{record.instDate,jdbcType=VARCHAR},
      </if>
      <if test="record.instDatetime != null" >
        inst_datetime = #{record.instDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bal_internal_data
    set data_id = #{record.dataId,jdbcType=INTEGER},
      channel_id = #{record.channelId,jdbcType=INTEGER},
      clear_id = #{record.clearId,jdbcType=VARCHAR},
      work_date = #{record.workDate,jdbcType=VARCHAR},
      inst_user = #{record.instUser,jdbcType=INTEGER},
      inst_date = #{record.instDate,jdbcType=VARCHAR},
      inst_datetime = #{record.instDatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qifenqian.bms.bal.accountResult.bean.BalInternalData" >
    update bal_internal_data
    <set >
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="clearId != null" >
        clear_id = #{clearId,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null" >
        work_date = #{workDate,jdbcType=VARCHAR},
      </if>
      <if test="instUser != null" >
        inst_user = #{instUser,jdbcType=INTEGER},
      </if>
      <if test="instDate != null" >
        inst_date = #{instDate,jdbcType=VARCHAR},
      </if>
      <if test="instDatetime != null" >
        inst_datetime = #{instDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where data_id = #{dataId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qifenqian.bms.bal.accountResult.bean.BalInternalData" >
    update bal_internal_data
    set channel_id = #{channelId,jdbcType=INTEGER},
      clear_id = #{clearId,jdbcType=VARCHAR},
      work_date = #{workDate,jdbcType=VARCHAR},
      inst_user = #{instUser,jdbcType=INTEGER},
      inst_date = #{instDate,jdbcType=VARCHAR},
      inst_datetime = #{instDatetime,jdbcType=TIMESTAMP}
    where data_id = #{dataId,jdbcType=INTEGER}
  </update>
  
   <select id="selectList" parameterType="com.qifenqian.bms.bal.accountResult.bean.BalInternalData" resultType="com.qifenqian.bms.bal.accountResult.bean.BalInternalData">
  	select 
  			T.*,
  			C.channel_name,
  			CONCAT(group_concat(
				CONCAT(
					b.field_name,
					':',
					a.field_value
					)
				)
			) details
	from 
			bal_internal_data 	T
	left join
			base_channel C
	on
			C.channel_id = T.channel_id
	LEFT JOIN 
			bal_internal_data_detail a 
	ON 
			a.channel_id = t.channel_id
	LEFT JOIN 
			bal_config_columns b 
	ON 
			b.column_id = a.column_id
	AND     a.clear_id = t.clear_id
	AND     a.channel_id = t.channel_id
	AND     a.work_date = t.work_date
	<where>
		<if test="null != dataId and dataId != ''">
			T.data_id = #{dataId,jdbcType=VARCHAR}
		</if>
		<if test="null != channelId and channelId != ''">
			and T.channel_id = #{channelId,jdbcType=VARCHAR}
		</if>
		<if test="null != clearId and clearId != ''">
			and T.clear_id = #{clearId,jdbcType=VARCHAR}
		</if>
		<if test="null != workDate and workDate != ''">
			and T.work_date = #{workDate,jdbcType=VARCHAR}
		</if>
		<if test="channelId != null and channelId != '' "> AND T.CHANNEL_ID = #{channelId,jdbcType=VARCHAR}</if>
	</where>
	GROUP BY
	t.channel_id,
	t.clear_id,
	t.data_id,
	t.inst_date,
	t.work_date
	
	
	ORDER BY T.work_date DESC
	
	
  </select>
</mapper>