<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qifenqian.bms.basemanager.calendar.mapper.CalendarMapper">
	<insert id="insertCalendar" useGeneratedKeys="true" parameterType="java.util.List">
	INSERT INTO BMS_CALENDAR (DATE,DATE_TYPE,IS_WORK,INST_USER,INST_DATETIME)
	VALUES      
     <foreach collection="list" item="item" index="index" separator="," >  
         (#{item.date},#{item.dateType},#{item.isWork},#{item.instUser},now())
    </foreach>  
	</insert>
</mapper>