<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qifenqian.bms.basemanager.merchant.mapper.MerchantEnterMapper">

	<select id="exportlist" resultType="com.qifenqian.bms.basemanager.merchant.bean.MerchantExport" parameterType="com.qifenqian.bms.basemanager.merchant.bean.MerchantVo">
		SELECT
			C.MERCHANT_CODE,
			C.CUST_NAME,
			C.TRADE_PWD,
			C.ATTACH_STR,
			U.WRONG_PWD_COUNT,
			C.CERTIFY_TYPE,
			C.CERTIFY_NO,
			C.CUST_TYPE,
			U.STATE merchantState,
			U.EMAIL,
			C.MERCHANT_FLAG,
			C.CUST_SCORE,
			C.CUST_LVL,
			C.TRUST_CERTIFY_LVL,
			C.TRUST_CERTIFY_AUDIT_STATE,
			C.CUST_INFO_LVL,
			C.CUST_ADD,
			C.CUST_POST_CODE,
			C.BUSINESS_LICENSE,
			C.TAX_REG_CERT,
			C.REPRESENTATIVE_CERT_TYPE,
			C.REPRESENTATIVE_CERT_NO,
			C.REPRESENTATIVE_NAME,
			C.REG_CAPITAL,
			C.ENT_TYPE,
			C.INDUSTRY_BELONG,
			C.YEAR_TURNOVER,
			C.MERCHANT_WEB_SITE,
			C.IS_USE_CERTIFICATION,
			C.IS_USE_MSG,
			C.QFQ_ACC_ID,
			C.QFB_ACC_ID,
			C.CREATE_ID,
			C.CREATE_TIME,
			C.MODIFY_ID,
			C.MODIFY_TIME,
			C.BUSINESS_TERM,
			C.BUSINESS_REG_ADDR,
			C.CONTACT_PHONE,
			C.FCONTACTUNIT_NUMBER,
			C.ORG_INST_CODE,
			C.REPRESENTATIVE_ADDR,
			C.REPRESENTATIVE_MOBILE,
			C.AGENT_NAME,
			C.AGENT_CERT_TYPE,
			C.AGENT_CERT_CODE,
			C.AGENT_MOBILE,
			C.COMP_MAIN_ACCT,
			C.COMP_ACCT_BANK,
			C.PWD_FREEZE_TIME,
			C.COMP_VERIFY_AMT,
			C.BRANCH_BANK,
			C.BANK_ACCT_NAME,
			C.COMMENT,
			T.CERTIFICATE_STATE auditState
		FROM TD_CUST_INFO C 
		INNER JOIN TD_LOGIN_USER_INFO U 
		ON C.CUST_ID = U.CUST_ID 
		JOIN TD_CERTIFICATE_AUTH T
		ON C.AUTH_ID = T.AUTH_ID
		<where>
		 C.CUST_TYPE = '1' AND C.MERCHANT_FLAG = '0' AND   C.TRUST_CERTIFY_AUDIT_STATE in('01','30','34','35')
		 <if test="startCreateTime != null and '' != startCreateTime">  
            <![CDATA[  
              AND DATE_FORMAT(C.CREATE_TIME   ,'%Y-%m-%d')>= #{startCreateTime}  
            ]]>  
        </if>  
        <if test="endCreateTime!= null and '' !=endCreateTime">  
            <![CDATA[  
              AND DATE_FORMAT(C.CREATE_TIME  ,'%Y-%m-%d')<= #{endCreateTime}  
            ]]>  
        </if>  
		<if test="auditState != null and auditState != '' ">
			 	AND T.CERTIFICATE_STATE = #{auditState, jdbcType=VARCHAR} 
			 </if>
		<if test="merchantState != null and merchantState != '' "> 
			AND U.STATE = #{merchantState, jdbcType=VARCHAR} 
		</if>
		<if test="custName != null and custName != '' ">
		 	AND C.CUST_NAME LIKE CONCAT('%',#{custName},'%')
		  </if>
		<if test="email != null and email != '' "> 
			AND U.EMAIL LIKE CONCAT('%',#{email},'%')
		</if>
		<if test="merchantCode != null and merchantCode != '' ">
			 	AND C.MERCHANT_CODE LIKE CONCAT('%',#{merchantCode},'%')
			 </if>
		 </where>
		ORDER BY C.CREATE_TIME DESC	    		
	</select>
	
	
	<select id="proExportlist" resultType="com.qifenqian.bms.basemanager.merchant.bean.MerchantExport" parameterType="com.qifenqian.bms.basemanager.merchant.bean.MerchantVo">
		SELECT
			C.MERCHANT_CODE,
			C.CUST_NAME,
			C.TRADE_PWD,
			C.ATTACH_STR,
			U.WRONG_PWD_COUNT,
			C.CERTIFY_TYPE,
			C.CERTIFY_NO,
			C.CUST_TYPE,
			U.STATE merchantState,
			U.EMAIL,
			C.MERCHANT_FLAG,
			C.CUST_SCORE,
			C.CUST_LVL,
			C.TRUST_CERTIFY_LVL,
			C.TRUST_CERTIFY_AUDIT_STATE,
			C.CUST_INFO_LVL,
			C.CUST_ADD,
			C.CUST_POST_CODE,
			C.BUSINESS_LICENSE,
			C.TAX_REG_CERT,
			C.REPRESENTATIVE_CERT_TYPE,
			C.REPRESENTATIVE_CERT_NO,
			C.REPRESENTATIVE_NAME,
			C.REG_CAPITAL,
			C.ENT_TYPE,
			C.INDUSTRY_BELONG,
			C.YEAR_TURNOVER,
			C.MERCHANT_WEB_SITE,
			C.IS_USE_CERTIFICATION,
			C.IS_USE_MSG,
			C.QFQ_ACC_ID,
			C.QFB_ACC_ID,
			C.CREATE_ID,
			C.CREATE_TIME,
			C.MODIFY_ID,
			C.MODIFY_TIME,
			C.BUSINESS_TERM,
			C.BUSINESS_REG_ADDR,
			C.CONTACT_PHONE,
			C.FCONTACTUNIT_NUMBER,
			C.ORG_INST_CODE,
			C.REPRESENTATIVE_ADDR,
			C.REPRESENTATIVE_MOBILE,
			C.AGENT_NAME,
			C.AGENT_CERT_TYPE,
			C.AGENT_CERT_CODE,
			C.AGENT_MOBILE,
			C.COMP_MAIN_ACCT,
			C.COMP_ACCT_BANK,
			C.PWD_FREEZE_TIME,
			C.COMP_VERIFY_AMT,
			C.BRANCH_BANK,
			C.BANK_ACCT_NAME,
			C.COMMENT,
			T.CERTIFICATE_STATE auditState
		FROM TD_CUST_INFO C 
		INNER JOIN TD_LOGIN_USER_INFO U 
		ON C.CUST_ID = U.CUST_ID 
		left JOIN TD_CERTIFICATE_AUTH T
		ON C.AUTH_ID = T.AUTH_ID
		<where>
		 C.CUST_TYPE = '1' AND C.MERCHANT_FLAG = '0' AND   C.TRUST_CERTIFY_AUDIT_STATE = '34' AND U.STATE ='04'
		 <if test="startCreateTime != null and '' != startCreateTime">  
            <![CDATA[  
              AND DATE_FORMAT(C.CREATE_TIME   ,'%Y-%m-%d')>= #{startCreateTime}  
            ]]>  
        </if>  
        <if test="endCreateTime!= null and '' !=endCreateTime">  
            <![CDATA[  
              AND DATE_FORMAT(C.CREATE_TIME  ,'%Y-%m-%d')<= #{endCreateTime}  
            ]]>  
        </if>  
		<if test="auditState != null and auditState != '' ">
			 	AND T.CERTIFICATE_STATE = #{auditState, jdbcType=VARCHAR} 
			 </if>
		<if test="merchantState != null and merchantState != '' "> 
			AND U.STATE = #{merchantState, jdbcType=VARCHAR} 
		</if>
		<if test="custName != null and custName != '' ">
		 	AND C.CUST_NAME LIKE CONCAT('%',#{custName},'%')
		  </if>
		<if test="email != null and email != '' "> 
			AND U.EMAIL LIKE CONCAT('%',#{email},'%')
		</if>
		<if test="merchantCode != null and merchantCode != '' ">
			 	AND C.MERCHANT_CODE LIKE CONCAT('%',#{merchantCode},'%')
			 </if>
		 </where>
		ORDER BY C.CREATE_TIME DESC	    		
	</select>
	
	<select id="backExportlist" resultType="com.qifenqian.bms.basemanager.merchant.bean.MerchantExport" parameterType="com.qifenqian.bms.basemanager.merchant.bean.MerchantVo">
		SELECT
			C.MERCHANT_CODE,
			C.CUST_NAME,
			C.TRADE_PWD,
			C.ATTACH_STR,
			U.WRONG_PWD_COUNT,
			C.CERTIFY_TYPE,
			C.CERTIFY_NO,
			C.CUST_TYPE,
			U.STATE merchantState,
			U.EMAIL,
			C.MERCHANT_FLAG,
			C.CUST_SCORE,
			C.CUST_LVL,
			C.TRUST_CERTIFY_LVL,
			C.TRUST_CERTIFY_AUDIT_STATE,
			C.CUST_INFO_LVL,
			C.CUST_ADD,
			C.CUST_POST_CODE,
			C.BUSINESS_LICENSE,
			C.TAX_REG_CERT,
			C.REPRESENTATIVE_CERT_TYPE,
			C.REPRESENTATIVE_CERT_NO,
			C.REPRESENTATIVE_NAME,
			C.REG_CAPITAL,
			C.ENT_TYPE,
			C.INDUSTRY_BELONG,
			C.YEAR_TURNOVER,
			C.MERCHANT_WEB_SITE,
			C.IS_USE_CERTIFICATION,
			C.IS_USE_MSG,
			C.QFQ_ACC_ID,
			C.QFB_ACC_ID,
			C.CREATE_ID,
			C.CREATE_TIME,
			C.MODIFY_ID,
			C.MODIFY_TIME,
			C.BUSINESS_TERM,
			C.BUSINESS_REG_ADDR,
			C.CONTACT_PHONE,
			C.FCONTACTUNIT_NUMBER,
			C.ORG_INST_CODE,
			C.REPRESENTATIVE_ADDR,
			C.REPRESENTATIVE_MOBILE,
			C.AGENT_NAME,
			C.AGENT_CERT_TYPE,
			C.AGENT_CERT_CODE,
			C.AGENT_MOBILE,
			C.COMP_MAIN_ACCT,
			C.COMP_ACCT_BANK,
			C.PWD_FREEZE_TIME,
			C.COMP_VERIFY_AMT,
			C.BRANCH_BANK,
			C.BANK_ACCT_NAME,
			C.COMMENT,
			T.CERTIFICATE_STATE auditState
		FROM TD_CUST_INFO C 
		INNER JOIN TD_LOGIN_USER_INFO U 
		ON C.CUST_ID = U.CUST_ID 
		left JOIN TD_CERTIFICATE_AUTH T
		ON C.AUTH_ID = T.AUTH_ID
		<where>
		 C.CUST_TYPE = '1' AND C.MERCHANT_FLAG = '0'  AND   C.TRUST_CERTIFY_AUDIT_STATE = '01'
		 <if test="startCreateTime != null and '' != startCreateTime">  
            <![CDATA[  
              AND DATE_FORMAT(C.CREATE_TIME   ,'%Y-%m-%d')>= #{startCreateTime}  
            ]]>  
        </if>  
        <if test="endCreateTime!= null and '' !=endCreateTime">  
            <![CDATA[  
              AND DATE_FORMAT(C.CREATE_TIME  ,'%Y-%m-%d')<= #{endCreateTime}  
            ]]>  
        </if>  
		<if test="auditState != null and auditState != '' ">
			 	AND T.CERTIFICATE_STATE = #{auditState, jdbcType=VARCHAR} 
			 </if>
		<if test="merchantState != null and merchantState != '' "> 
			AND U.STATE = #{merchantState, jdbcType=VARCHAR} 
		</if>
		<if test="custName != null and custName != '' ">
		 	AND C.CUST_NAME LIKE CONCAT('%',#{custName},'%')
		  </if>
		<if test="email != null and email != '' "> 
			AND U.EMAIL LIKE CONCAT('%',#{email},'%')
		</if>
		<if test="merchantCode != null and merchantCode != '' ">
			 	AND C.MERCHANT_CODE LIKE CONCAT('%',#{merchantCode},'%')
		</if>
		 </where>
		ORDER BY C.CREATE_TIME DESC	    		
	</select>
	
	<!-- 微商户列表查询 -->
	<select id="exportTinyMerchantsList" resultType="com.qifenqian.bms.basemanager.merchant.bean.TinyMerchantExport" parameterType="com.qifenqian.bms.basemanager.merchant.bean.MerchantVo">
		<!-- select 
		c.MERCHANT_CODE,
		c.CUST_NAME,
		c.TRADE_PWD,
		c.ATTACH_STR,
		c.WRONG_PWD_COUNT,
		c.CUST_TYPE,
		c.MERCHANT_FLAG,
		c.STATE,
		c.CREATE_TIME,
		u.email,
		u.state merchantState   
		from td_cust_info c 
		inner join td_login_user_info u on c.cust_id = u.cust_id  -->
		SELECT 
		c.`MERCHANT_CODE`,
		c.`CUST_NAME`,
		c.`CERTIFY_NO`,
		c.`CUST_TYPE`,
		c.`MERCHANT_FLAG`,
		c.`BUSINESS_LICENSE`,
		c.`STATE`,
		c.`QFQ_ACC_ID` qfqAccId,
		c.`CREATE_ID`,
		c.`CREATE_TIME`,
		c.`MODIFY_ID`,
		c.`MODIFY_TIME`,
		c.`REPRESENTATIVE_MOBILE`,
		c.`FCONTACTUNIT_NUMBER`,
		c.`COMP_MAIN_ACCT`,
		c.`COMP_ACCT_BANK`,
		c.`Bank_acct_name`,
		c.`Branch_BANK`,
		u.`EMAIL`,
		u.`STATE` merchantState
		FROM td_cust_info c 
		INNER JOIN td_login_user_info u ON c.cust_id = u.cust_id
		<where>
			c.merchant_flag = 2 and c.trust_certify_audit_state = 30 
			<if test="merchantCode != null and merchantCode != ''">
				<![CDATA[ 
					and c.merchant_code like CONCAT('%',#{merchantCode},'%') 
				]]>
			</if>
			<if test="startCreateTime != null and startCreateTime != ''">
				<![CDATA[ 
					and DATE_FORMAT(c.create_time,'%Y-%m-%d') >= #{startCreateTime}
				]]>
			</if>
			<if test="endCreateTime != null and endCreateTime != ''">
				<![CDATA[ 
					and DATE_FORMAT(c.create_time,'%Y-%m-%d') <= #{endCreateTime} 
				]]>
			</if>
			<if test="email != null and email != ''">
				<![CDATA[ 
					and u.email like CONCAT('%',#{email},'%') 
				]]>
			</if>
			<if test="custName != null and custName != ''">
				<![CDATA[ 
					and c.cust_name like CONCAT('%',#{custName},'%') 
				]]>
			</if>
		</where>
		order by c.create_time desc
	</select>
	
	<!-- 新商户列表导出 -->
	<select id="newExportlist" resultType="com.qifenqian.bms.basemanager.merchant.bean.MerchantExport" parameterType="com.qifenqian.bms.basemanager.merchant.bean.MerchantVo">
		SELECT
			C.AUTH_ID,
			C.CUST_ID,
			C.CUST_NAME,
			C.TRADE_PWD,
			C.ATTACH_STR,
			C.CERTIFY_TYPE,
			C.CERTIFY_NO,
			C.CUST_TYPE,
			C.MERCHANT_FLAG,
			C.CUST_SCORE,
			C.CUST_LVL,
			C.STATE,
			C.STATE auditState,
			C.TRUST_CERTIFY_LVL,
			C.TRUST_CERTIFY_AUDIT_STATE,
			C.CUST_INFO_LVL,
			C.CUST_ADD,
			C.CUST_POST_CODE,
			C.BUSINESS_LICENSE,
			C.TAX_REG_CERT,
			C.REPRESENTATIVE_CERT_TYPE,
			C.REPRESENTATIVE_CERT_NO,
			C.REPRESENTATIVE_NAME,
			C.REG_CAPITAL,
			C.ENT_TYPE,
			C.INDUSTRY_BELONG,
			C.YEAR_TURNOVER,
			C.MERCHANT_WEB_SITE,
			C.IS_USE_CERTIFICATION,
			C.IS_USE_MSG,
			C.QFQ_ACC_ID,
			C.QFB_ACC_ID,
			C.CREATE_ID,
			C.CREATE_TIME,
			C.MODIFY_ID,
			C.MODIFY_TIME,
			C.BUSINESS_TERM,
			C.BUSINESS_REG_ADDR,
			C.CONTACT_PHONE,
			C.ORG_INST_CODE,
			C.REPRESENTATIVE_ADDR,
			C.REPRESENTATIVE_MOBILE,
			C.AGENT_NAME,
			C.AGENT_CERT_TYPE,
			C.AGENT_CERT_CODE,
			C.AGENT_MOBILE,
			C.COMP_MAIN_ACCT,
			C.COMP_ACCT_BANK,
			C.COMP_VERIFY_AMT,
			C.BRANCH_BANK,
			C.BANK_ACCT_NAME,
			C.FCONTACTUNIT_NUMBER,
			C.MERCHANT_CODE,
			C.categoryType,
			C.mchRole,
			C.province,
			C.city,
			C.country,
			C.filing_status,
			C.filing_audit_status,
			DATE_FORMAT(C.CREATE_TIME,'%Y-%m-%d %H:%i:%s') createTime,
			IFNULL(U.EMAIL,U.MOBILE) EMAIL,
			U.STATE merchantState,		
			IFNULL(T.AUTH_RESULT_DESC,A.AUDIT_INFO) aduitMessage,
			S.USER_NAME aduitUserName
		FROM TD_CUST_INFO C 
		INNER JOIN TD_LOGIN_USER_INFO U 
		ON C.CUST_ID = U.CUST_ID 
		JOIN TD_CERTIFICATE_AUTH T
		ON C.AUTH_ID = T.AUTH_ID
		LEFT JOIN TD_AUDIT_RECODE_INFO A
		ON C.MERCHANT_CODE = A.MERCHANT_CODE
		left JOIN SYS_USER S
		ON (S.USER_ID = T.CERTIFY_USER OR A.USER_ID = S.USER_ID) 
		<where>
			 ((C.CUST_TYPE = '1' AND C.MERCHANT_FLAG = '0' AND  C.TRUST_CERTIFY_AUDIT_STATE in('01','30','34','35'))
			 OR
			 (C.MERCHANT_FLAG = '2' AND C.STATE IS NOT NULL  AND (A.AUDIT_TYPE = '01' or A.AUDIT_TYPE is NULL) ))
			 <if test="startCreateTime != null and '' != startCreateTime">  
	            <![CDATA[  
	              AND DATE_FORMAT(C.CREATE_TIME   ,'%Y-%m-%d')>= #{startCreateTime}  
	            ]]>  
	        </if>  
	        <if test="endCreateTime!= null and '' !=endCreateTime">  
	            <![CDATA[  
	              AND DATE_FORMAT(C.CREATE_TIME  ,'%Y-%m-%d')<= #{endCreateTime}  
	            ]]>  
	        </if>  
			<if test="auditState != null and auditState != '' ">
			 	AND C.STATE = #{auditState, jdbcType=VARCHAR} 
			 </if>
			<if test="merchantState != null and merchantState != '' "> 
				AND U.STATE = #{merchantState, jdbcType=VARCHAR} 
			</if>
			<if test="custName != null and custName != '' ">
			 	AND C.CUST_NAME LIKE CONCAT('%',#{custName},'%')
			  </if>
			<if test="email != null and email != '' "> 
				AND U.EMAIL LIKE CONCAT('%',#{email},'%')
			</if>
			<if test="merchantCode != null and merchantCode != '' ">
			 	AND C.MERCHANT_CODE LIKE CONCAT('%',#{merchantCode},'%')
			 </if>
		</where>
		ORDER BY C.CREATE_TIME    DESC	    		
	</select>
	
</mapper>