<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qifenqian.bms.accounting.acctingworkdate.mapper.AcctWorkDateMapper">
	<select id="queryAcctWorkDatList" resultType="com.qifenqian.bms.accounting.acctingworkdate.bean.AcctWorkDate" parameterType="com.qifenqian.bms.accounting.acctingworkdate.bean.AcctWorkDate">
		SELECT
		WORK_DATE,
		INST_USER,
		DATE_FORMAT(INST_DATETIME,'%Y-%m-%d %H:%i:%s') as instDatetime,
		MEMO
		FROM
		ACCTING_WORK_DATE
		WHERE 1=1
		<if test="workDate!='' and workDate!=null">
			AND WORK_DATE = #{workDate,jdbcType=VARCHAR}
		</if>
		ORDER BY INST_DATETIME DESC
	</select>

	<select id="selectWorkDateHis" resultType="com.qifenqian.bms.accounting.acctingworkdate.bean.AcctWorkDate" parameterType="string">
		SELECT
		WORK_DATE,
		MEMO
		FROM
		ACCTING_WORK_DATE_HIS
		WHERE WORK_DATE = #{workDate,jdbcType=VARCHAR}
	</select>

	<insert id="insertWorkDateHis" parameterType="com.qifenqian.bms.accounting.acctingworkdate.bean.AcctWorkDate">
		INSERT INTO ACCTING_WORK_DATE_HIS(
		WORK_DATE,
		INST_USER,
		MEMO,
		INST_DATETIME,
		CHANGE_DATETIME
		)
		VALUES(
		#{workDate, jdbcType=VARCHAR},
		#{instUser,	jdbcType=VARCHAR},
		#{memo, 	jdbcType=VARCHAR},
		now(),
		now()
		)
	</insert>

	<update id="updateWorkDateHis" parameterType="string">
		UPDATE ACCTING_WORK_DATE_HIS 
		SET CHANGE_DATETIME = now()
		WHERE WORK_DATE = #{workDate,jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteWorkDate">
		DELETE FROM ACCTING_WORK_DATE
	</delete>
	
	<insert id="insertWorkDate" parameterType="com.qifenqian.bms.accounting.acctingworkdate.bean.AcctWorkDate">
		INSERT INTO ACCTING_WORK_DATE(
		WORK_DATE,
		INST_USER,
		MEMO,
		INST_DATETIME
		)
		VALUES(
		#{workDate, jdbcType=VARCHAR},
		#{instUser,	jdbcType=VARCHAR},
		#{memo, 	jdbcType=VARCHAR},
		now()
		)
	</insert>
</mapper>