<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qifenqian.bms.basemanager.aggregatepayment.merchant.mapper.RefundMapper">
	<select id="getRefundList" parameterType="com.qifenqian.bms.basemanager.aggregatepayment.merchant.bean.TdRefund" 
	resultType="com.qifenqian.bms.basemanager.aggregatepayment.merchant.bean.TdRefund">
		select 
			*
		from
		    td_refund
		<where>
			<if test="orderId != null and orderId != ''">
				order_id =#{orderId, jdbcType=VARCHAR}
			</if>
			
			<if test="mchId != null and mchId != ''">
				mch_id = #{mchId, jdbcType=VARCHAR}
			</if>
			
			<if test="refundState != null and refundState != ''">
				refund_state = #{refundState, jdbcType= VARCHAR}
			</if>
		</where>
	</select>
	
	
	<select id="getRefundExport" parameterType="com.qifenqian.bms.basemanager.aggregatepayment.merchant.bean.TdRefund" 
	resultType="com.qifenqian.bms.basemanager.aggregatepayment.merchant.bean.TdRefund">
		select 
			*
		from
		    td_refund
		<where>
			<if test="orderId != null and orderId != ''">
				order_id =#{orderId, jdbcType=VARCHAR}
			</if>
			
			<if test="mchId != null and mchId != ''">
				mch_id = #{mchId, jdbcType=VARCHAR}
			</if>
			
			<if test="refundState != null and refundState != ''">
				refund_state = #{refundState, jdbcType= VARCHAR}
			</if>
		</where>
	</select>
</mapper>