<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qifenqian.bms.basemanager.aggregatepayment.merchant.mapper.TdMerchantProdRateOperationMapper">
	
	<insert id="insertMerchantProdRate" parameterType="com.qifenqian.bms.basemanager.aggregatepayment.merchant.bean.TdMerchantProdRate">
		insert into 
		td_merchant_prod_rate(
			MER_AGREEMENT_CODE,
			MER_CODE,
			PROD_CODE,
			MER_AGREE_RATE
		)
		values (
			#{merAgreementCode,jdbcType=VARCHAR},
			#{merCode,jdbcType=VARCHAR},
			#{prodCode,jdbcType=VARCHAR},
			#{merAgreeRate,jdbcType=DECIMAL}
		)
	</insert>
	
	<delete id="deleteMerchantProdRate" parameterType="com.qifenqian.bms.basemanager.aggregatepayment.merchant.bean.TdMerchantProdRate">
		delete 
			t.*
		from
			td_merchant_prod_rate t
		where
			t.MER_AGREEMENT_CODE = #{merAgreementCode,jdbcType=VARCHAR}
			and
			t.MER_CODE = #{merCode,jdbcType=VARCHAR}
			and
			t.PROD_CODE = #{prodCode,jdbcType=VARCHAR}
	</delete>
</mapper>