<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qifenqian.bms.basemanager.tradeRevoke.mapper.CustTransRevokeMapper">

	<select id="selectTransRevokeList" parameterType="com.qifenqian.bms.basemanager.tradeRevoke.bean.CustTransRevoke" resultType="com.qifenqian.bms.basemanager.tradeRevoke.bean.CustTransRevoke">
	SELECT 
		  T.ORDER_ID,
		  T.ORIGIN_ORDER_ID,
		  T.ORIGIN_ORDER_NAME,
		  T.ORIGIN_TRADE_TYPE,
		  U.MOBILE REVOKE_CUST_ID,
		  T.ORIGIN_TRANS_TIME,
		  T.MERCHANT_CUST_ID,
		  T.CURR_CODE,
		  T.REVOKE_AMT,
		  T.REVOKE_MEMO,
		  T.CORE_RETURN_MSG,
		  (SELECT U.USER_NAME FROM SYS_USER U WHERE U.USER_ID = T.CREATE_ID ) CREATE_ID,
		  DATE_FORMAT(T.CREATE_TIME,'%Y-%m-%d %H:%i:%s') AS CREATE_TIME,
		  T.ORDER_STATUS,
		  (SELECT U.USER_NAME FROM SYS_USER U WHERE U.USER_ID = T.AUDIT_ID ) AUDIT_ID,
		  DATE_FORMAT(T.AUDIT_TIME,'%Y-%m-%d %H:%i:%s') AS AUDIT_TIME,
		  T.AUDIT_STATE
	FROM 
		TD_CUST_TRANS_REVOKE T 
		LEFT JOIN 
		TD_LOGIN_USER_INFO U
		ON T.REVOKE_CUST_ID = U.CUST_ID
		<where>
			<if test="orderId !=null and orderId !='' ">
				AND T.ORDER_Id = #{orderId,jdbcType = VARCHAR}
			</if>
			<if test="originOrderId != null and originOrderId != '' ">
				AND T.ORIGIN_ORDER_ID = #{originOrderId,jdbcType = VARCHAR}
			</if>
			<if test="revokeCustId != null and revokeCustId != '' ">
				AND U.MOBILE = #{revokeCustId,jdbcType = VARCHAR}
			</if>
			<if test="revokeBeginTime != null and revokeBeginTime != '' ">
				<![CDATA[ 
	 				AND DATE_FORMAT(T.CREATE_TIME ,'%Y-%m-%d') >= #{revokeBeginTime} 
	 			]]>
			</if>
			<if test="revokeEndTime !=null and revokeEndTime !='' ">
				<![CDATA[ 
	 				AND DATE_FORMAT(T.CREATE_TIME ,'%Y-%m-%d') <= #{revokeEndTime} 
	 			]]>
			</if>
		</where>
		ORDER BY T.CREATE_TIME DESC
	</select>
	
	<insert id="insert" parameterType="com.qifenqian.bms.basemanager.tradeRevoke.bean.CustTransRevoke">
		INSERT INTO TD_CUST_TRANS_REVOKE(
			  ORDER_ID,
			  ORIGIN_ORDER_ID,
			  ORIGIN_ORDER_NAME,
			  ORIGIN_TRADE_TYPE,
			  ORIGIN_TRANS_TIME,
			  REVOKE_CUST_ID,
			  MERCHANT_CUST_ID,
			  CURR_CODE,
			  REVOKE_AMT,
			  REVOKE_MEMO,
			  CREATE_ID,
			  ORDER_STATUS,
			  AUDIT_STATE
		)VALUES(
			#{orderId,				jdbcType = VARCHAR},
			#{originOrderId, 		jdbcType = VARCHAR},
			#{originOrderName, 		jdbcType = VARCHAR},
			#{originTradeType, 		jdbcType = VARCHAR},
			#{originTransTime, 		jdbcType = TIMESTAMP},
			#{revokeCustId, 		jdbcType = VARCHAR},
			#{merchantCustId,		jdbcType = VARCHAR},
			#{currCode, 			jdbcType = VARCHAR},
			#{revokeAmt, 			jdbcType = DECIMAL},
			#{revokeMemo, 			jdbcType = VARCHAR},
			#{createId, 			jdbcType = VARCHAR},
			#{orderStatus, 			jdbcType = VARCHAR},
			#{auditState, 			jdbcType = VARCHAR}
		)
	</insert>
	
	<update id="updateByRevoke" parameterType="com.qifenqian.bms.basemanager.tradeRevoke.bean.CustTransRevoke">
		UPDATE TD_CUST_TRANS_REVOKE
		<set>
			<if test="orderStatus !=null and orderStatus !='' ">
				ORDER_STATUS = #{orderStatus,jdbcType = VARCHAR},
			</if>
			<if test="coreSn != null and coreSn != '' ">
				CORE_SN = #{coreSn,jdbcType = VARCHAR},
			</if>
			<if test="coreReturnCode != null and coreReturnCode != '' ">
				CORE_RETURN_CODE = #{coreReturnCode,jdbcType = VARCHAR},
			</if>
			<if test="coreReturnMsg !=null and coreReturnMsg !='' ">
				CORE_RETURN_MSG = #{coreReturnMsg,jdbcType = VARCHAR},
			</if>
				CORE_RETURN_TIME = NOW()
		</set>
		WHERE ORDER_ID = #{orderId,jdbcType = VARCHAR}
	</update>
	
	<update id="updateByAudit" parameterType="com.qifenqian.bms.basemanager.tradeRevoke.bean.CustTransRevoke">
		UPDATE TD_CUST_TRANS_REVOKE
		<set>
			<if test="orderStatus !=null and orderStatus !='' ">
				ORDER_STATUS = #{orderStatus,jdbcType = VARCHAR},
			</if>
			<if test="auditId !=null and auditId !='' ">
				AUDIT_ID = #{auditId,jdbcType = VARCHAR},
			</if>
			<if test="auditState !=null and auditState !='' ">
				AUDIT_STATE = #{auditState,jdbcType = VARCHAR},
			</if>
				AUDIT_TIME = NOW()
		</set>
		WHERE ORDER_ID = #{orderId,jdbcType = VARCHAR}
	</update>
</mapper>