<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qifenqian.bms.accounting.exception.dao.operdeal.mapper.OperationExceptionMapper">

	<select id="selectExceptionList" parameterType="com.qifenqian.bms.accounting.exception.base.bean.Operation" resultType="com.qifenqian.bms.accounting.exception.base.bean.Operation">
			SELECT
				EXCP.*
			FROM
				(SELECT
						T.CHARGE_SN OPER_ID,
						CASE 
						WHEN  T.CHARGE_TYPE = '5' THEN 'SMALL_QUICK_RECHARGE'
						WHEN  T.CHARGE_TYPE = '6' THEN 'RED_PACKET_RECHARGE'
						ELSE 'CUST_RECHARGE' END  OPER_TYPE,
						U.MOBILE PAY_CUST_ID,
						T.CUST_NAME PAY_CUST_NAME,
						T.CHARGE_AMT TRANS_AMT,
						U.MOBILE RCV_CUST_ID,
						T.CUST_NAME RCV_CUST_NAME,
						CASE
							WHEN T.CHARGE_NETPAY_STATE IN ('04','05') THEN
								'CORE_DEALING'
							WHEN T.CHARGE_NETPAY_STATE ='99' THEN
								'DEAL_CANCELLED'
							WHEN T.CHARGE_NETPAY_STATE ='00' THEN
								'DEAL_SUCCESS'
							ELSE
								'OPER_DEALING'
							END STATUS,
						DATE_FORMAT(T.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
						DATE_FORMAT(T.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
					FROM
						TD_CHARGE_BILL T ,TD_LOGIN_USER_INFO U
						WHERE T.CUST_ID=U.CUST_ID
					UNION
					SELECT
							T.ORDER_ID OPER_ID,
								CASE
								WHEN T.IS_NEED_CHARGE = '0' THEN
									'BALANCE_PAYMENT'
								ELSE
									'BANK_CARD_PAYMENT'
								END OPER_TYPE,
							LU.MOBILE PAY_CUST_ID,
							T.PAYER_CUST_NAME PAY_CUST_NAME,
							T.SUM_AMT TRANS_AMT,
							U.MERCHANT_CODE RCV_CUST_ID,
							U.CUST_NAME RCV_CUST_NAME,
							CASE
								WHEN T.ORDER_STATE ='00' THEN
								'DEAL_SUCCESS'
								WHEN T.ORDER_STATE IN ('02', '03','04') THEN
									'CORE_DEALING'
								WHEN T.ORDER_STATE ='99' THEN
									'DEAL_CANCELLED'
								ELSE
									'OPER_DEALING'
								END STATUS,
							DATE_FORMAT(T.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
							DATE_FORMAT(T.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
						FROM
							TD_TRADE_BILL_MAIN T,TD_LOGIN_USER_INFO LU,TD_CUST_INFO U
						WHERE T.PAYER_CUST_ID=LU.CUST_ID AND T.PAYEE_CUST_ID = U.CUST_ID
						AND T.TRADE_TYPE IN ('1101', '1102')
					UNION
					SELECT
							T.ORDER_ID OPER_ID,
							'RED_PACKET_PAYMENT' OPER_TYPE,
							LU.MOBILE PAY_CUST_ID,
							T.PAYER_CUST_NAME PAY_CUST_NAME,
							T.SUM_AMT TRANS_AMT,
							'' RCV_CUST_ID,
							'' RCV_CUST_NAME,
							CASE
								WHEN T.ORDER_STATE ='00' THEN
								'DEAL_SUCCESS'
								WHEN T.ORDER_STATE IN ('02', '03','04') THEN
									'CORE_DEALING'
								WHEN T.ORDER_STATE ='99' THEN
									'DEAL_CANCELLED'
								ELSE
									'OPER_DEALING'
								END STATUS,
							DATE_FORMAT(T.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
							DATE_FORMAT(T.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
						FROM
							TD_TRADE_BILL_MAIN T,TD_LOGIN_USER_INFO LU
						WHERE T.PAYER_CUST_ID=LU.CUST_ID
						AND T.TRADE_TYPE ='1301'
					UNION
					SELECT
							T.ORDER_ID OPER_ID,
							'CUST_TRANSFER' OPER_TYPE,
							LU.MOBILE PAY_CUST_ID,
							T.PAYER_CUST_NAME PAY_CUST_NAME,
							T.SUM_AMT TRANS_AMT,
							U.MOBILE RCV_CUST_ID,
							T.PAYEE_CUST_NAME RCV_CUST_NAME,
							CASE
								WHEN T.ORDER_STATE ='00' THEN
								'DEAL_SUCCESS'
								WHEN T.ORDER_STATE IN ('02', '03','04') THEN
									'CORE_DEALING'
								WHEN T.ORDER_STATE ='99' THEN
									'DEAL_CANCELLED'
								ELSE
									'OPER_DEALING'
								END STATUS,
							DATE_FORMAT(T.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
							DATE_FORMAT(T.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
						FROM
							TD_TRADE_BILL_MAIN T,TD_LOGIN_USER_INFO LU,TD_LOGIN_USER_INFO U
						WHERE T.PAYER_CUST_ID=LU.CUST_ID AND T.PAYEE_CUST_ID = U.CUST_ID
						AND T.TRADE_TYPE = '1001'
					UNION
					SELECT
							RE.ID OPER_ID,
						CASE
						WHEN (
							SELECT
								T.TRADE_TYPE
							FROM
								TD_TRADE_BILL_MAIN T
							WHERE
								T.ORDER_ID = R.ORIGIN_ORDER_ID
						) = '1301'
							THEN 'RED_PACKET_PAYMENT_REFUND'
						WHEN (
							SELECT
								T.IS_NEED_CHARGE
							FROM
								TD_TRADE_BILL_MAIN T
							WHERE
								T.ORDER_ID = R.ORIGIN_ORDER_ID
						) = '0' THEN
							'BALANCE_PAYMENT_REFUND'
						ELSE
							'BANK_CARD_PAYMENT_REFUND'
						END OPER_TYPE,
						U.MERCHANT_CODE PAY_CUST_ID,
						U.CUST_NAME PAY_CUST_NAME,
						R.REFUND_AMT TRANS_AMT,
						 LU.MOBILE RCV_CUST_ID,
						(SELECT C.CUST_NAME FROM TD_TRADE_BILL_MAIN M ,TD_CUST_INFO C WHERE M.PAYER_CUST_ID=C.CUST_ID AND M.ORDER_ID=R.ORIGIN_ORDER_ID) RCV_CUST_NAME,
						 CASE 
						WHEN R.REFUND_STATE='00' THEN 'DEAL_SUCCESS'
						WHEN R.REFUND_STATE='04' THEN 'DEAL_CANCELLED'
						WHEN R.REFUND_STATE IN ('02', '03') THEN 'CORE_DEALING'
						ELSE 'OPER_DEALING'
						END STATUS,
						 DATE_FORMAT(R.SUBMIT_TIME, '%Y-%m-%d') OPER_DATE,
						 DATE_FORMAT(R.SUBMIT_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
						FROM
							TD_REFUND_BILL R,ACCT_SEVEN_CUST_REFUND RE,TD_LOGIN_USER_INFO LU,TD_CUST_INFO U
						WHERE
							R.ORDER_ID = RE.REFUND_ORDER_ID
							AND R.REFUND_CUST_ID = LU.CUST_ID 
							AND R.MERCHANT_CUST_ID = U.CUST_ID
							AND R.AUDIT_STATE IN ('02','03') 
				UNION
				SELECT
					W.WITHDRAW_SN OPER_ID,
					'CUST_WITHDRAW_APPLY' OPER_TYPE,
					LU.mobile PAY_CUST_ID,
					W.CUST_NAME PAY_CUST_NAME,
					W.WITHDRAW_AMT TRANS_AMT,
					LU.MOBILE RCV_CUST_ID,
					W.CUST_NAME RCV_CUST_NAME,
					CASE
						WHEN W.WITHDRAW_STATE = '02' THEN
							'CORE_DEALING'
						WHEN W.WITHDRAW_STATE ='04' THEN
							'DEAL_CANCELLED'
						WHEN W.WITHDRAW_STATE ='03' THEN
							'DEAL_SUCCESS'
						ELSE
							'OPER_DEALING'
					END STATUS,
					DATE_FORMAT(W.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
					DATE_FORMAT(W.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
				FROM
					TD_WITHDRAW_BILL W,
					TD_LOGIN_USER_INFO LU
				WHERE
					W.CUST_ID = LU.CUST_ID
				AND W.WITHDRAW_STATE in ('01','02','03','04')
			UNION
			SELECT
				CB.WITHDRAW_REQSERIALID OPER_ID,
				'CUST_WITHDRAW' OPER_TYPE,
				LU.MOBILE PAY_CUST_ID,
				W.CUST_NAME PAY_CUST_NAME,
				W.WITHDRAW_AMT TRANS_AMT,
				LU.MOBILE RCV_CUST_ID,
				W.CUST_NAME RCV_CUST_NAME,
				CASE
						WHEN W.WITHDRAW_STATE in ('22','23','24','52','54') THEN
							'CORE_DEALING'
						WHEN W.WITHDRAW_STATE in ('00','33','53') THEN
							'DEAL_SUCCESS'
						ELSE
							'OPER_DEALING'
				END STATUS,
				DATE_FORMAT(W.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
				DATE_FORMAT(W.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
			FROM
				TD_WITHDRAW_BILL W,
				TD_WITHDRAW_CHILD_BILL CB,
				TD_LOGIN_USER_INFO LU
			WHERE
				W.CUST_ID = LU.CUST_ID
				AND W.WITHDRAW_SN = CB.WITHDRAW_SN
				AND W.WITHDRAW_STATE IN ('00','22','23','24','31','32','33','34','52','53','54')
			UNION
			SELECT
					CB.WITHDRAW_REQSERIALID OPER_ID,
					'CUST_WITHDRAW' OPER_TYPE,
					LU.MOBILE PAY_CUST_ID,
					W.CUST_NAME PAY_CUST_NAME,
					W.WITHDRAW_AMT TRANS_AMT,
					LU.MOBILE RCV_CUST_ID,
					W.CUST_NAME RCV_CUST_NAME,
					CASE
							WHEN W.WITHDRAW_STATE in ('42','44') THEN
								'CORE_DEALING'
							WHEN W.WITHDRAW_STATE in ('43') THEN
								'DEAL_SUCCESS'
					END STATUS,
					DATE_FORMAT(W.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
					DATE_FORMAT(W.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
				FROM
					TD_WITHDRAW_BILL W,
					TD_WITHDRAW_CHILD_BILL CB,
					TD_LOGIN_USER_INFO LU
				WHERE
					W.CUST_ID = LU.CUST_ID
				AND W.WITHDRAW_SN = CB.WITHDRAW_SN
				AND W.WITHDRAW_STATE IN ('42','43','44')
				UNION
			SELECT 
				SC.ORDER_ID OPER_ID,
				'BUSS_SETTLE_APPLY' OPER_TYPE,
				C.MERCHANT_CODE  PAY_CUST_ID,
				C.CUST_NAME PAY_CUST_NAME,
				T.SETTLE_AMT TRANS_AMT,
				C.MERCHANT_CODE RCV_CUST_ID,
				C.CUST_NAME RCV_CUST_NAME,
			CASE 
			WHEN T.STATUS IN('VERIFIED','PAY_SUCC') THEN 'DEAL_SUCCESS' 
			WHEN T.STATUS IN('INVALID','INIT') THEN 'DEAL_CANCELLED' 
			WHEN T.STATUS IN('AUDIT_PASS','SEND_INIT','SEND_SUCC','PAY_FAIL') THEN 'OPER_DEALING' 
			ELSE 'CORE_DEALING' END STATUS,
				DATE_FORMAT(T.INST_DATETIME, '%Y-%m-%d') OPER_DATE,
				DATE_FORMAT(T.INST_DATETIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
			FROM BMS_MERCHANT_SETTLE T,TD_CUST_INFO C,BMS_MERCHANT_CHILD_SETTLE SC
				WHERE T.CUST_ID =C.CUST_ID AND T.ID=SC.SETTLE_ID
				AND SC.OPER_TYPE IN('SETTLE_APPLY','SETTLE_REVOKE')
			UNION
			SELECT 
				SC.ORDER_ID OPER_ID,
				'BUSS_SETTLE' OPER_TYPE,
				C.MERCHANT_CODE  PAY_CUST_ID,
				C.CUST_NAME PAY_CUST_NAME,
				T.SETTLE_AMT TRANS_AMT,
				C.MERCHANT_CODE RCV_CUST_ID,
				C.CUST_NAME RCV_CUST_NAME,
			CASE 
			WHEN	T.STATUS ='VERIFIED' THEN 'DEAL_SUCCESS' 
			WHEN T.STATUS ='INVALID' THEN 'DEAL_CANCELLED' ELSE 'CORE_DEALING' END STATUS,
				DATE_FORMAT(T.INST_DATETIME, '%Y-%m-%d') OPER_DATE,
				DATE_FORMAT(T.INST_DATETIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
			FROM BMS_MERCHANT_SETTLE T,TD_CUST_INFO C,BMS_MERCHANT_CHILD_SETTLE SC
				WHERE T.CUST_ID =C.CUST_ID AND T.ID=SC.SETTLE_ID
				AND SC.OPER_TYPE = 'SETTLE_VERIFIED'
		UNION
			SELECT  
				T.ID OPER_ID,
				T.MSG_TYPE OPER_TYPE,
			  	U.MOBILE PAY_CUST_ID,
			  	I.CUST_NAME PAY_CUST_NAME,
			  	'0.00' TRANS_AMT,
				U.MOBILE RCV_CUST_ID,
				I.CUST_NAME RCV_CUST_NAME,
				CASE T.STATUS
					WHEN	'00' THEN 'DEAL_SUCCESS' 
					WHEN	'01' THEN 'OPER_DEALING' 
					WHEN  '99' THEN 'DEAL_CANCELLED' 
					ELSE  'CORE_DEALING' END STATUS,
				DATE_FORMAT(T.INST_DATETIME, '%Y-%m-%d') OPER_DATE,
				DATE_FORMAT(T.INST_DATETIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
			FROM 
				ACCT_SEVEN_CUST_FREEZE T,TD_LOGIN_USER_INFO U,TD_CUST_INFO I
			WHERE 
				T.CUST_ID = U.CUST_ID
			AND U.CUST_ID = I.CUST_ID
		UNION
			SELECT  
				T.ORDER_ID OPER_ID,
				'CUST_RECHARGE_REVOKE' OPER_TYPE,
			    U.MOBILE PAY_CUST_ID,
			    I.CUST_NAME PAY_CUST_NAME,
			    T.REVOKE_AMT TRANS_AMT,
				U.MOBILE RCV_CUST_ID,
				I.CUST_NAME RCV_CUST_NAME,
				CASE 
					WHEN  T.ORDER_STATUS ='00' THEN 'DEAL_SUCCESS' 
					WHEN  T.ORDER_STATUS ='99' THEN 'DEAL_CANCELLED' 
					WHEN  T.ORDER_STATUS in ('02','03','04') THEN 'OPER_DEALING' 
					ELSE  'OPER_DEALING' END STATUS,
				DATE_FORMAT(T.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
				DATE_FORMAT(T.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
			FROM 
				TD_CUST_RECHARGE_REVOKE T,TD_LOGIN_USER_INFO U,TD_CUST_INFO I
			WHERE 
				T.RECHARGE_CUST_ID = U.CUST_ID
			AND U.CUST_ID = I.CUST_ID
			AND T.AUDIT_STATE = '02'
		UNION
			SELECT  
				 T.ORDER_ID OPER_ID,
				 CASE T.ORIGIN_TRADE_TYPE
				 WHEN	'BALANCE_PAYMENT' THEN 'BALANCE_PAYMENT_REVOKE' 
				 WHEN  'BANK_CARD_PAYMENT' THEN 'BANK_CARD_PAYMENT_REVOKE' END OPER_TYPE,
				 U.MERCHANT_CODE PAY_CUST_ID,
				 U.CUST_NAME PAY_CUST_NAME,
				 T.REVOKE_AMT TRANS_AMT,
				 LU.MOBILE RCV_CUST_ID,
				 (SELECT C.CUST_NAME FROM TD_CUST_INFO C WHERE C.CUST_ID =T.REVOKE_CUST_ID) RCV_CUST_NAME,
				CASE 
					WHEN  T.ORDER_STATUS ='00' THEN 'DEAL_SUCCESS' 
					WHEN  T.ORDER_STATUS ='99' THEN 'DEAL_CANCELLED' 
					WHEN  T.ORDER_STATUS in ('02','03','04') THEN 'OPER_DEALING' 
					ELSE  'OPER_DEALING' END STATUS,
				 DATE_FORMAT(T.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
				 DATE_FORMAT(T.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
				FROM
					TD_CUST_TRANS_REVOKE T, TD_LOGIN_USER_INFO LU,TD_CUST_INFO U
				WHERE
					T.REVOKE_CUST_ID = LU.CUST_ID 
					AND T.MERCHANT_CUST_ID = U.CUST_ID
					AND T.AUDIT_STATE ='02'
		UNION
		 	SELECT
			  T.ORDER_ID OPER_ID,
			  'CUST_TRANSFER_REVOKE' OPER_TYPE,
			  LU.MOBILE PAYER_CUST_ID,
	          T.PAYEE_CUST_NAME PAYER_CUST_NAME,
	          U.MOBILE PAYEE_CUST_ID,
			  T.PAYER_CUST_NAME PAYEE_CUST_NAME,
			  T.REVOKE_AMT TRANS_AMT,
			  CASE 
				WHEN  T.ORDER_STATUS ='00' THEN 'DEAL_SUCCESS' 
				WHEN  T.ORDER_STATUS ='99' THEN 'DEAL_CANCELLED' 
				WHEN  T.ORDER_STATUS in ('02','03') THEN 'OPER_DEALING' 
				ELSE  'OPER_DEALING' END STATUS,
			  DATE_FORMAT(T.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
			  DATE_FORMAT(T.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
			FROM
				TD_CUST_TRANSFER_REVOKE T,
				TD_LOGIN_USER_INFO LU,
				TD_LOGIN_USER_INFO U
				WHERE T.PAYEE_CUST_ID=LU.CUST_ID 
				AND T.PAYER_CUST_ID =U.CUST_ID
				AND T.AUDIT_STATE ='02'
			) EXCP
		<where>
			<if test="operId != null and operId != '' ">
				AND EXCP.OPER_ID = #{operId, jdbcType=VARCHAR}
			</if>
			<if test="operType != null and operType != '' ">
				AND EXCP.OPER_TYPE = #{operType, jdbcType=VARCHAR}
			</if>
			<if test="operDateMax != null and operDateMax != '' ">
				<![CDATA[ 
					AND #{operDateMax, jdbcType=VARCHAR} >= EXCP.OPER_DATE
				]]>
			</if>
			<if test="operDateMin != null and operDateMin != '' ">
				<![CDATA[ 
					AND EXCP.OPER_DATE >= #{operDateMin, jdbcType=VARCHAR}
				]]>
			</if>
			<if test="status != null and status != '' ">
				AND EXCP.STATUS = #{status, jdbcType=VARCHAR}
			</if>
			<if test="payCustId != null and payCustId != '' ">
				AND EXCP.PAY_CUST_ID = #{payCustId, jdbcType=VARCHAR}
			</if>
			<if test="payCustName != null and payCustName != '' ">
				AND EXCP.PAY_CUST_NAME = #{payCustName, jdbcType=VARCHAR}
			</if>
			<if test="statusOther!=null and statusOther!='' and statusOther=='SUCCESS_OR_CANCEL'">
				AND EXCP.STATUS  NOT IN('DEAL_SUCCESS','DEAL_CANCELLED')
			</if>
		</where>
		ORDER BY EXCP.OPER_DATETIME DESC
	</select>
	
	<select id="exportOperationListExcel" parameterType="com.qifenqian.bms.accounting.exception.base.bean.Operation" resultType="com.qifenqian.bms.accounting.exception.base.bean.OperationExcel">
		SELECT
			EXCP.OPER_ID,
			CASE EXCP.OPER_TYPE
			WHEN 'CUST_RECHARGE' THEN '客户充值'
			WHEN 'RED_PACKET_RECHARGE' THEN '红包充值'
			WHEN 'RED_PACKET_PAYMENT' THEN '红包支付'
			WHEN 'RED_PACKET_PAYMENT_REFUND' THEN '红包支付退款'
			WHEN 'BALANCE_PAYMENT' THEN '余额支付'
			WHEN 'BANK_CARD_PAYMENT' THEN '卡支付' 
			WHEN 'CUST_TRANSFER' THEN '转账' 
			WHEN 'CUST_TRANSFER_REVOKE' THEN '转账撤销' 
			WHEN 'BALANCE_PAYMENT_REFUND' THEN '余额支付退款' 
			WHEN 'BANK_CARD_PAYMENT_REFUND' THEN '卡支付退款' 
			WHEN 'CUST_RECHARGE_REROKE' THEN '卡支付退款' 
			WHEN 'CUST_WITHDRAW' THEN '客户提现' 
			WHEN 'CUST_WITHDRAW_APPLY' THEN '客户提现申请' 
			WHEN 'BUSS_SETTLE' THEN '商户提现' 
			WHEN 'BUSS_SETTLE_APPLY' THEN '商户提现申请' 
			WHEN 'BALANCE_PAYMENT_REVOKE' THEN '余额支付撤销' 
			WHEN 'BANK_CARD_PAYMENT_REVOKE' THEN '卡支付撤销' 
			WHEN 'CUST_FULL_FREEZE' THEN '客户账户全额冻结' 
			WHEN 'CUST_FULL_UNFREEZE' THEN '客户账户全额解冻' 
			ELSE EXCP.OPER_TYPE END OPER_TYPE,
			EXCP.PAY_CUST_ID,
			EXCP.PAY_CUST_NAME,
			EXCP.TRANS_AMT,
			EXCP.RCV_CUST_ID,
			EXCP.RCV_CUST_NAME,
			CASE EXCP.STATUS
			WHEN 'OPER_DEALING' THEN '业务系统处理'
			WHEN 'CORE_DEALING' THEN '核心处理'
			WHEN 'DEAL_CANCELLED' THEN '取消'
			WHEN 'DEAL_SUCCESS' THEN '成功'
			ELSE EXCP.STATUS END STATUS,
			Excp.OPER_DATE,
			EXCP.OPER_DATETIME
		FROM
				(SELECT
						T.CHARGE_SN OPER_ID,
						CASE 
						WHEN  T.CHARGE_TYPE = '5' THEN 'SMALL_QUICK_RECHARGE'
						WHEN  T.CHARGE_TYPE = '6' THEN 'RED_PACKET_RECHARGE'
						ELSE 'CUST_RECHARGE' END  OPER_TYPE,
						U.MOBILE PAY_CUST_ID,
						T.CUST_NAME PAY_CUST_NAME,
						T.CHARGE_AMT TRANS_AMT,
						U.MOBILE RCV_CUST_ID,
						T.CUST_NAME RCV_CUST_NAME,
						CASE
							WHEN T.CHARGE_NETPAY_STATE IN ('04','05') THEN
								'CORE_DEALING'
							WHEN T.CHARGE_NETPAY_STATE ='99' THEN
								'DEAL_CANCELLED'
							WHEN T.CHARGE_NETPAY_STATE ='00' THEN
								'DEAL_SUCCESS'
							ELSE
								'OPER_DEALING'
							END STATUS,
						DATE_FORMAT(T.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
						DATE_FORMAT(T.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
					FROM
						TD_CHARGE_BILL T ,TD_LOGIN_USER_INFO U
						WHERE T.CUST_ID = U.CUST_ID
				UNION
						SELECT
							T.ORDER_ID OPER_ID,
								CASE
								WHEN T.IS_NEED_CHARGE = '0' THEN
									'BALANCE_PAYMENT'
								ELSE
									'BANK_CARD_PAYMENT'
								END OPER_TYPE,
							LU.MOBILE PAY_CUST_ID,
							T.PAYER_CUST_NAME PAY_CUST_NAME,
							T.SUM_AMT TRANS_AMT,
							U.MERCHANT_CODE RCV_CUST_ID,
							U.CUST_NAME RCV_CUST_NAME,
							CASE
								WHEN T.ORDER_STATE = '00' THEN
								'DEAL_SUCCESS'
								WHEN T.ORDER_STATE IN ('02', '03','04') THEN
									'CORE_DEALING'
								WHEN T.ORDER_STATE ='99' THEN
								'DEAL_CANCELLED'
								ELSE
									'OPER_DEALING'
								END STATUS,
							DATE_FORMAT(T.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
							DATE_FORMAT(T.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
						FROM
							TD_TRADE_BILL_MAIN T,TD_LOGIN_USER_INFO LU,TD_CUST_INFO U
						WHERE T.PAYER_CUST_ID=LU.CUST_ID AND T.PAYEE_CUST_ID = U.CUST_ID
						AND T.TRADE_TYPE IN ('1101', '1102')
				UNION
				SELECT
							T.ORDER_ID OPER_ID,
							'RED_PACKET_PAYMENT' OPER_TYPE,
							LU.MOBILE PAY_CUST_ID,
							T.PAYER_CUST_NAME PAY_CUST_NAME,
							T.SUM_AMT TRANS_AMT,
							'' RCV_CUST_ID,
							'' RCV_CUST_NAME,
							CASE
								WHEN T.ORDER_STATE ='00' THEN
								'DEAL_SUCCESS'
								WHEN T.ORDER_STATE IN ('02', '03','04') THEN
									'CORE_DEALING'
								WHEN T.ORDER_STATE ='99' THEN
									'DEAL_CANCELLED'
								ELSE
									'OPER_DEALING'
								END STATUS,
							DATE_FORMAT(T.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
							DATE_FORMAT(T.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
						FROM
							TD_TRADE_BILL_MAIN T,TD_LOGIN_USER_INFO LU
						WHERE T.PAYER_CUST_ID=LU.CUST_ID
						AND T.TRADE_TYPE ='1301'
				UNION
				SELECT
							T.ORDER_ID OPER_ID,
							'CUST_TRANSFER' OPER_TYPE,
							LU.MOBILE PAY_CUST_ID,
							T.PAYER_CUST_NAME PAY_CUST_NAME,
							T.SUM_AMT TRANS_AMT,
							U.MOBILE RCV_CUST_ID,
							T.PAYEE_CUST_NAME RCV_CUST_NAME,
							CASE
								WHEN T.ORDER_STATE ='00' THEN
								'DEAL_SUCCESS'
								WHEN T.ORDER_STATE IN ('02', '03','04') THEN
									'CORE_DEALING'
								WHEN T.ORDER_STATE ='99' THEN
									'DEAL_CANCELLED'
								ELSE
									'OPER_DEALING'
								END STATUS,
							DATE_FORMAT(T.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
							DATE_FORMAT(T.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
						FROM
							TD_TRADE_BILL_MAIN T,TD_LOGIN_USER_INFO LU,TD_LOGIN_USER_INFO U
						WHERE T.PAYER_CUST_ID=LU.CUST_ID AND T.PAYEE_CUST_ID = U.CUST_ID
						AND T.TRADE_TYPE = '1001'
		UNION
				SELECT
					E.ID OPER_ID,
				CASE
				WHEN (
						SELECT
							T.TRADE_TYPE
						FROM
							TD_TRADE_BILL_MAIN T
						WHERE
							T.ORDER_ID = R.ORIGIN_ORDER_ID
					) = '1301'
						THEN 'RED_PACKET_PAYMENT_REFUND'
				WHEN (
					SELECT
						T.IS_NEED_CHARGE
					FROM
						TD_TRADE_BILL_MAIN T
					WHERE
						T.ORDER_ID = R.ORIGIN_ORDER_ID
				) = '0' THEN
					'BALANCE_PAYMENT_REFUND'
				ELSE
					'BANK_CARD_PAYMENT_REFUND'
				END OPER_TYPE,
				U.MERCHANT_CODE PAY_CUST_ID,
				U.CUST_NAME PAY_CUST_NAME,
				R.REFUND_AMT TRANS_AMT,
				 LU.MOBILE RCV_CUST_ID,
				(SELECT C.CUST_NAME FROM TD_TRADE_BILL_MAIN M ,TD_CUST_INFO C WHERE M.PAYER_CUST_ID=C.CUST_ID AND M.ORDER_ID=R.ORIGIN_ORDER_ID) RCV_CUST_NAME,
				 CASE 
				WHEN R.REFUND_STATE = '00' THEN 'DEAL_SUCCESS'
				WHEN R.REFUND_STATE = '04' THEN 'DEAL_CANCELLED'
				WHEN R.REFUND_STATE IN ('02', '03') THEN 'CORE_DEALING'
				ELSE 'OPER_DEALING'
				END STATUS,
				 DATE_FORMAT(R.SUBMIT_TIME, '%Y-%m-%d') OPER_DATE,
				 DATE_FORMAT(R.SUBMIT_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
				FROM
					TD_REFUND_BILL R,ACCT_SEVEN_CUST_REFUND E ,TD_LOGIN_USER_INFO LU,TD_CUST_INFO U
				WHERE
					E.REFUND_ORDER_ID = R.ORDER_ID
					AND  R.REFUND_CUST_ID = LU.CUST_ID AND R.MERCHANT_CUST_ID = U.CUST_ID AND R.AUDIT_STATE IN ('02','03') 
			UNION
				SELECT
				W.WITHDRAW_SN OPER_ID,
				'CUST_WITHDRAW_APPLY' OPER_TYPE,
				LU.mobile PAY_CUST_ID,
				W.CUST_NAME PAY_CUST_NAME,
				W.WITHDRAW_AMT TRANS_AMT,
				LU.MOBILE RCV_CUST_ID,
				W.CUST_NAME RCV_CUST_NAME,
				CASE
						WHEN W.WITHDRAW_STATE = '02' THEN
							'CORE_DEALING'
						WHEN W.WITHDRAW_STATE ='04' THEN
							'DEAL_CANCELLED'
						WHEN W.WITHDRAW_STATE ='03' THEN
							'DEAL_SUCCESS'
						ELSE
							'OPER_DEALING'
				END STATUS,
				DATE_FORMAT(W.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
				DATE_FORMAT(W.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
			FROM
				TD_WITHDRAW_BILL W,
				TD_LOGIN_USER_INFO LU
			WHERE
				W.CUST_ID = LU.CUST_ID
			AND w.WITHDRAW_STATE in ('01','02','03','04')
		UNION
			SELECT
				CB.WITHDRAW_REQSERIALID OPER_ID,
				'CUST_WITHDRAW' OPER_TYPE,
				LU.MOBILE PAY_CUST_ID,
				W.CUST_NAME PAY_CUST_NAME,
				W.WITHDRAW_AMT TRANS_AMT,
				LU.MOBILE RCV_CUST_ID,
				W.CUST_NAME RCV_CUST_NAME,
				CASE
						WHEN W.WITHDRAW_STATE in ('22','23','24','52','54') THEN
							'CORE_DEALING'
						WHEN W.WITHDRAW_STATE in ('00','33','53') THEN
							'DEAL_SUCCESS'
						ELSE
							'OPER_DEALING'
				END STATUS,
				DATE_FORMAT(W.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
				DATE_FORMAT(W.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
			FROM
				TD_WITHDRAW_BILL W,
				TD_WITHDRAW_CHILD_BILL CB,
				TD_LOGIN_USER_INFO LU
			WHERE
				W.CUST_ID = LU.CUST_ID
			AND W.WITHDRAW_SN = CB.WITHDRAW_SN
			AND W.WITHDRAW_STATE IN ('00','22','23','24','31','32','33','34','52','53','54')
		UNION
			SELECT
					CB.WITHDRAW_REQSERIALID OPER_ID,
					'CUST_WITHDRAW' OPER_TYPE,
					LU.MOBILE PAY_CUST_ID,
					W.CUST_NAME PAY_CUST_NAME,
					W.WITHDRAW_AMT TRANS_AMT,
					LU.MOBILE RCV_CUST_ID,
					W.CUST_NAME RCV_CUST_NAME,
					CASE
							WHEN W.WITHDRAW_STATE in ('42','44') THEN
								'CORE_DEALING'
							WHEN W.WITHDRAW_STATE in ('43') THEN
								'DEAL_SUCCESS'
					END STATUS,
					DATE_FORMAT(W.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
					DATE_FORMAT(W.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
				FROM
					TD_WITHDRAW_BILL W,
					TD_WITHDRAW_CHILD_BILL CB,
					TD_LOGIN_USER_INFO LU
				WHERE
					W.CUST_ID = LU.CUST_ID
				AND W.WITHDRAW_SN = CB.WITHDRAW_SN
				AND W.WITHDRAW_STATE IN ('42','43','44')
		UNION
				SELECT 
					SC.ORDER_ID OPER_ID,
					'BUSS_SETTLE_APPLY' OPER_TYPE,
					C.MERCHANT_CODE PAY_CUST_ID,
					C.CUST_NAME PAY_CUST_NAME,
					T.SETTLE_AMT TRANS_AMT,
					C.MERCHANT_CODE RCV_CUST_ID,
					C.CUST_NAME RCV_CUST_NAME,
				CASE 
				WHEN T.STATUS IN('VERIFIED','PAY_SUCC') THEN 'DEAL_SUCCESS' 
				WHEN T.STATUS IN('INVALID','INIT') THEN 'DEAL_CANCELLED' 
				WHEN T.STATUS IN('AUDIT_PASS','SEND_INIT','SEND_SUCC','PAY_FAIL') THEN 'OPER_DEALING' 
				ELSE 'CORE_DEALING' END STATUS,
					DATE_FORMAT(T.INST_DATETIME, '%Y-%m-%d') OPER_DATE,
					DATE_FORMAT(T.INST_DATETIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
				FROM BMS_MERCHANT_SETTLE T,TD_CUST_INFO C,BMS_MERCHANT_CHILD_SETTLE SC
					WHERE T.CUST_ID =C.CUST_ID AND T.ID=SC.SETTLE_ID
					AND SC.OPER_TYPE IN('SETTLE_APPLY','SETTLE_REVOKE')
			UNION
				SELECT 
					SC.ORDER_ID OPER_ID,
					'BUSS_SETTLE' OPER_TYPE,
					C.MERCHANT_CODE  PAY_CUST_ID,
					C.CUST_NAME PAY_CUST_NAME,
					T.SETTLE_AMT TRANS_AMT,
					C.MERCHANT_CODE RCV_CUST_ID,
					C.CUST_NAME RCV_CUST_NAME,
				CASE 
				WHEN	T.STATUS ='VERIFIED' THEN 'DEAL_SUCCESS' 
				WHEN T.STATUS ='INVALID' THEN 'DEAL_CANCELLED' ELSE 'CORE_DEALING' END STATUS,
					DATE_FORMAT(T.INST_DATETIME, '%Y-%m-%d') OPER_DATE,
					DATE_FORMAT(T.INST_DATETIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
				FROM BMS_MERCHANT_SETTLE T,TD_CUST_INFO C,BMS_MERCHANT_CHILD_SETTLE SC
					WHERE T.CUST_ID =C.CUST_ID AND T.ID=SC.SETTLE_ID
					AND SC.OPER_TYPE = 'SETTLE_VERIFIED'
			UNION
			SELECT  
				T.ID OPER_ID,
				T.MSG_TYPE OPER_TYPE,
			  	U.MOBILE PAY_CUST_ID,
			  	I.CUST_NAME PAY_CUST_NAME,
			  	'0.00' TRANS_AMT,
				U.MOBILE RCV_CUST_ID,
				I.CUST_NAME RCV_CUST_NAME,
				CASE T.STATUS
					WHEN	'00' THEN 'DEAL_SUCCESS' 
					WHEN	'01' THEN 'OPER_DEALING' 
					WHEN  '99' THEN 'DEAL_CANCELLED' 
					ELSE  'CORE_DEALING' END STATUS,
				DATE_FORMAT(T.INST_DATETIME, '%Y-%m-%d') OPER_DATE,
				DATE_FORMAT(T.INST_DATETIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
			FROM 
				ACCT_SEVEN_CUST_FREEZE T,TD_LOGIN_USER_INFO U,TD_CUST_INFO I
			WHERE 
				T.CUST_ID = U.CUST_ID
			AND U.CUST_ID = I.CUST_ID	
		UNION
			SELECT  
				T.ORDER_ID OPER_ID,
				'CUST_RECHARGE_REVOKE' OPER_TYPE,
			    U.MOBILE PAY_CUST_ID,
			    I.CUST_NAME PAY_CUST_NAME,
			    T.REVOKE_AMT TRANS_AMT,
				U.MOBILE RCV_CUST_ID,
				I.CUST_NAME RCV_CUST_NAME,
				CASE 
					WHEN  T.ORDER_STATUS ='00' THEN 'DEAL_SUCCESS' 
					WHEN  T.ORDER_STATUS ='99' THEN 'DEAL_CANCELLED' 
					WHEN  T.ORDER_STATUS in ('02','03','04') THEN 'OPER_DEALING' 
					ELSE  'OPER_DEALING' END STATUS,
				DATE_FORMAT(T.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
				DATE_FORMAT(T.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
			FROM 
				TD_CUST_RECHARGE_REVOKE T,TD_LOGIN_USER_INFO U,TD_CUST_INFO I
			WHERE 
				T.RECHARGE_CUST_ID = U.CUST_ID
			AND U.CUST_ID = I.CUST_ID
			AND T.AUDIT_STATE = '02'
		UNION
			SELECT  
				 T.ORDER_ID OPER_ID,
				 CASE T.ORIGIN_TRADE_TYPE
				 WHEN	'BALANCE_PAYMENT' THEN 'BALANCE_PAYMENT_REVOKE' 
				 WHEN  'BANK_CARD_PAYMENT' THEN 'BANK_CARD_PAYMENT_REVOKE' END OPER_TYPE,
				 U.MERCHANT_CODE PAY_CUST_ID,
				 U.CUST_NAME PAY_CUST_NAME,
				 T.REVOKE_AMT TRANS_AMT,
				 LU.MOBILE RCV_CUST_ID,
				 (SELECT C.CUST_NAME FROM TD_CUST_INFO C WHERE C.CUST_ID =T.REVOKE_CUST_ID) RCV_CUST_NAME,
				CASE 
					WHEN  T.ORDER_STATUS ='00' THEN 'DEAL_SUCCESS' 
					WHEN  T.ORDER_STATUS ='99' THEN 'DEAL_CANCELLED' 
					WHEN  T.ORDER_STATUS in ('02','03','04') THEN 'OPER_DEALING' 
					ELSE  'OPER_DEALING' END STATUS,
				 DATE_FORMAT(T.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
				 DATE_FORMAT(T.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
				FROM
					TD_CUST_TRANS_REVOKE T, TD_LOGIN_USER_INFO LU,TD_CUST_INFO U
				WHERE
					T.REVOKE_CUST_ID = LU.CUST_ID 
					AND T.MERCHANT_CUST_ID = U.CUST_ID
					AND T.AUDIT_STATE ='02'	
			UNION
			 	SELECT
				  T.ORDER_ID OPER_ID,
				  'CUST_TRANSFER_REVOKE' OPER_TYPE,
				  LU.MOBILE PAYER_CUST_ID,
		          T.PAYEE_CUST_NAME PAYER_CUST_NAME,
		          U.MOBILE PAYEE_CUST_ID,
				  T.PAYER_CUST_NAME PAYEE_CUST_NAME,
				  T.REVOKE_AMT TRANS_AMT,
				  CASE 
					WHEN  T.ORDER_STATUS ='00' THEN 'DEAL_SUCCESS' 
					WHEN  T.ORDER_STATUS ='99' THEN 'DEAL_CANCELLED' 
					WHEN  T.ORDER_STATUS in ('02','03') THEN 'OPER_DEALING' 
					ELSE  'OPER_DEALING' END STATUS,
				  DATE_FORMAT(T.CREATE_TIME, '%Y-%m-%d') OPER_DATE,
				  DATE_FORMAT(T.CREATE_TIME,'%Y-%m-%d %H:%i:%s') OPER_DATETIME
				FROM
					TD_CUST_TRANSFER_REVOKE T,
					TD_LOGIN_USER_INFO LU,
					TD_LOGIN_USER_INFO U
					WHERE T.PAYEE_CUST_ID=LU.CUST_ID 
					AND T.PAYER_CUST_ID =U.CUST_ID
					AND T.AUDIT_STATE ='02'
			) EXCP
		<where>
			<if test="operId != null and operId != '' ">
				AND EXCP.OPER_ID = #{operId, jdbcType=VARCHAR}
			</if>
			<if test="operType != null and operType != '' ">
				AND EXCP.OPER_TYPE = #{operType, jdbcType=VARCHAR}
			</if>
			<if test="operDateMax != null and operDateMax != '' ">
				<![CDATA[ 
					AND #{operDateMax, jdbcType=VARCHAR} >= EXCP.OPER_DATE
				]]>
			</if>
			<if test="operDateMin != null and operDateMin != '' ">
				<![CDATA[ 
					AND EXCP.OPER_DATE >= #{operDateMin, jdbcType=VARCHAR}
				]]>
			</if>
			<if test="status != null and status != '' ">
				AND EXCP.STATUS = #{status, jdbcType=VARCHAR}
			</if>
			<if test="payCustId != null and payCustId != '' ">
				AND EXCP.PAY_CUST_ID = #{payCustId, jdbcType=VARCHAR}
			</if>
			<if test="payCustName != null and payCustName != '' ">
				AND EXCP.PAY_CUST_NAME = #{payCustName, jdbcType=VARCHAR}
			</if>
			<if test="statusOther!=null and statusOther!='' and statusOther=='SUCCESS_OR_CANCEL'">
				AND EXCP.STATUS  NOT IN('DEAL_SUCCESS','DEAL_CANCELLED')
			</if>
		</where>
		ORDER BY EXCP.OPER_DATETIME DESC
	</select>

	<insert id="insertOperationException" parameterType="com.qifenqian.bms.accounting.exception.dao.operdeal.bean.OperationException">
		INSERT INTO BMS_OPERATION_EXCEPTION(
		ID,
		OPERATION_ID,
		OPERATION_TYPE,
		STATUS,
		INST_USER,
		INST_DATETIME,
		DEAL_RESULT,
		DEAL_MEMO,
		DEAL_USER,
		DEAL_DATE,
		DEAL_DATETIME,
		RELATE_ID)
		VALUES(
		#{id, 			jdbcType=VARCHAR},
		#{operationId, 	jdbcType=VARCHAR},
		#{operationType,jdbcType=VARCHAR},
		#{status, 		jdbcType=VARCHAR},
		#{instUser, 	jdbcType=VARCHAR},
		now(),
		#{dealResult, 	jdbcType=VARCHAR},
		#{dealMemo, 	jdbcType=VARCHAR},
		#{dealUser, 	jdbcType=VARCHAR},
		#{dealDate, 	jdbcType=VARCHAR},
		now(),
		#{relateId, 	jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="updateOperationException" parameterType="com.qifenqian.bms.accounting.exception.dao.operdeal.bean.OperationException">
		UPDATE BMS_OPERATION_EXCEPTION E
		<set>
			<if test="operationType != null and operationType != ''">
				E.OPERATION_TYPE = #{operationType, jdbcType=VARCHAR},
			</if>
			<if test="status != null and status != ''">
				E.STATUS = #{status, jdbcType=VARCHAR},
			</if>
			<if test="dealUser != null and dealUser != ''">
				E.DEAL_USER = #{dealUser, jdbcType=VARCHAR},
			</if>
			<if test="dealDate != null and dealDate != ''">
				E.DEAL_DATE = #{dealDate, jdbcType=VARCHAR},
			</if>
			<if test="relateId != null and relateId != ''">
				E.RELATE_ID = #{relateId, jdbcType=VARCHAR},
			</if>
			<if test="dealResult != null and dealResult != ''">
				E.DEAL_RESULT = #{dealResult, jdbcType=VARCHAR},
			</if>
			<if test="dealMemo != null and dealMemo != ''">
				E.DEAL_MEMO = #{dealMemo, jdbcType=VARCHAR},
			</if>
			 E.DEAL_DATETIME = now()
		</set>
		WHERE E.OPERATION_ID = #{operationId, jdbcType=VARCHAR}
	</update>
	
	<select id="selectOperationExceptionByOperationId" parameterType="string" resultType="string">
		SELECT COUNT(E.OPERATION_ID)
		FROM 
			BMS_OPERATION_EXCEPTION E 
		WHERE 
			E.OPERATION_ID = #{operationId, jdbcType = VARCHAR}
	</select>
	
	<select id="queryOperationRecord"  resultType="com.qifenqian.bms.accounting.exception.dao.operdealflow.bean.OperationExceptionFlow" parameterType="string">
		SELECT   
		  F.DEAL_SEQ,
		  F.OPERATION_ID,
		CASE F.DEAL_TYPE 
			WHEN 'TRANS' THEN '单步'
			WHEN 'OPERATION' THEN '流程' END AS DEAL_TYPE,
		CASE F.TRANS_STEP
			WHEN 'UNIONPAY_PAYMENT' THEN '银联支付'
			WHEN 'UNIONPAY_PAYMENT_REVOKE' THEN '银联交易撤销'
			WHEN 'UNIONPAY_PAYMENT_REFUND' THEN '银联退款'
			WHEN 'JGKJ_RECHARGE' THEN '交广科技充值'
			WHEN 'JGKJ_RECHARGE_REVOKE' THEN '交广科技充值撤销'
			WHEN 'JGKJ_RECHARGE_REFUND' THEN '交广科技充值退款'
			WHEN 'JGKJ_PAYMENT' THEN '交广科技支付'
			WHEN 'JGKJ_PAYMENT_REVOKE' THEN '交广科技支付撤销'
			WHEN 'JGKJ_PAYMENT_REFUND' THEN '交广科技支付退款'
			WHEN 'JGKJ_CARD_FREEZE' THEN '交广科技冻结'
			WHEN 'JGKJ_CARD_UNFREEZE' THEN '交广科技解冻'
			WHEN 'SEVEN_CUST_RECHARGE' THEN '七分钱客户充值'
			WHEN 'SEVEN_CUST_RECHARGE_REVOKE' THEN '七分钱客户充值撤销'
			WHEN 'SEVEN_CUST_RECHARGE_REFUND' THEN '七分钱客户充值退款'
			WHEN 'SEVEN_CUST_PAYMENT' THEN '七分钱客户支付'
			WHEN 'SEVEN_CUST_PAYMENT_REVOKE' THEN '七分钱客户支付撤销'
			WHEN 'SEVEN_CUST_PAYMENT_REFUND' THEN '七分钱客户支付退款'
			WHEN 'SEVEN_BUSS_RECEIVE' THEN '七分钱商户收款'
			WHEN 'SEVEN_CUST_RECEIVE' THEN '七分钱客户收款'
			WHEN 'SEVEN_CUST_RECEIVE_REVOKE' THEN '七分钱客户收款撤销'
			WHEN 'SEVEN_CUST_FULL_FREEZE' THEN '七分钱客户全款冻结'
			WHEN 'SEVEN_CUST_FULL_FREEZE' THEN '七分钱客户全款解冻'
			WHEN 'JGKJ_TRANSFER' THEN '交广科技转账'
			WHEN 'JGKJ_TRANSFER_REVERSAL' THEN '交广科技转账反转'
			WHEN 'SEVEN_BUSS_RECEIVE_REVOKE' THEN '七分钱商户收款撤销'
			WHEN 'SEVEN_BUSS_RECEIVE_REFUND' THEN '七分钱商户收款退款'
			WHEN 'SEVEN_BUSS_SETTLE' THEN '七分钱商户结算'
			WHEN 'BUSS_SETTLE_APPLY_RECEIVE' THEN '七分钱商户结算申请应收'
			WHEN 'BUSS_SETTLE_REVOKE_RECEIVE' THEN '七分钱商户提结算申请撤销应收'
			WHEN 'CUST_RECHARGE' THEN '客户充值'
			WHEN 'RED_PACKET_RECHARGE' THEN '红包充值'
			WHEN 'BALANCE_PAYMENT' THEN '余额支付'
			WHEN 'RED_PACKET_PAYMENT' THEN '红包支付'
			WHEN 'RED_PACKET_PAYMENT_REFUND' THEN '红包支付退款'
			WHEN 'CUST_FULL_FREEZE' THEN '客户账户全额冻结'
			WHEN 'CUST_FULL_UNFREEZE' THEN '客户账户全额解冻'
			WHEN 'BANK_CARD_PAYMENT' THEN '卡支付'
			WHEN 'CUST_TRANSFER' THEN '客户转账'
			WHEN 'CUST_TRANSFER_REVOKE' THEN '客户转账撤销'
			WHEN 'BALANCE_PAYMENT_REFUND' THEN '余额支付退款'
			WHEN 'BANK_CARD_PAYMENT_REVOKE' THEN '卡支付撤销'
			WHEN 'BALANCE_PAYMENT_REVOKE' THEN '余额支付撤销'
			WHEN 'CUST_RECHARGE_REVOKE' THEN '客户充值撤销'
			WHEN 'BANK_CLEAR' THEN '银行清算'
			WHEN 'KINGDEE_WITHDRAW' THEN '金蝶客户提现'
			WHEN 'KINGDEE_SETTLE' THEN '金蝶商户结算'
			WHEN 'SEVEN_CUST_WITHDRAW' THEN '七分钱客户提现'
			WHEN 'SEVEN_CUST_WITHDRAW_APPLY' THEN '七分钱客户提现申请'
			WHEN 'SEVEN_CUST_WITHDRAW_REVOKE' THEN '七分钱客户提现撤销'
			WHEN 'BUSS_SETTLE_APPLY' THEN '商户结算申请'
			WHEN 'BUSS_SETTLE' THEN '商户结算'
			WHEN 'BANK_CARD_PAYMENT_REFUND' THEN '卡支付退款' 
			WHEN 'BUSS_SETTLE_REVOKE_PAY' THEN '七分钱商户结算撤销申请应付'
			WHEN 'BUSS_SETTLE_APPLY_PAY' THEN '七分钱商户结算申请应付'
			WHEN 'SEVEN_INNER_RECEIVE' THEN '七分钱内部账户收方' 
			ELSE F.TRANS_STEP END AS TRANS_STEP,
		CASE F.DEAL_RESULT 
			WHEN 'SEQUEL_WHOLE_PROCESS' THEN '续作整个流程'
			WHEN 'BACK_WHOLE_PROCESS' THEN '回退整个流程'
			WHEN 'SEQUEL_NEXT_STEP' THEN '续作下一步'
			WHEN 'SEQUEL_CURRENT_STEP' THEN '重新执行'
			WHEN 'REVOKE_CURRENT_STEP' THEN '撤销当前步骤'
			WHEN 'BACK_CURRENT_STEP' THEN '退回当前步骤'
			WHEN 'CONFIRM_FAILURE' THEN '确认失败'
			WHEN 'CONFIRM_SUCCESS' THEN '确认成功'
			WHEN 'END' THEN '流程结束'
			ELSE F.DEAL_RESULT END AS DEAL_RESULT,
		  F.DEAL_MEMO, 
		CASE F.EXECUTE_STATUS
			WHEN 'EXCEPTION' THEN '异常'
			WHEN 'FAILURE' THEN '失败'
			WHEN 'SUCCESS' THEN '成功' 
			ELSE F.EXECUTE_STATUS END AS EXECUTE_STATUS,
		  F.EXECUTE_MEMO,
		  F.DEAL_USER,
		  (SELECT  U.USER_NAME  FROM SYS_USER U WHERE U.USER_ID = F.DEAL_USER)  AS USER_NAME,
		  DATE_FORMAT(F.DEAL_DATETIME,'%Y-%m-%d %H:%i:%s') AS DEAL_DATETIME
	    FROM 
	    	BMS_OPERATION_EXCEPTION_FLOW F 
	    WHERE F.OPERATION_ID = #{operationId, jdbcType = VARCHAR} 
	    	ORDER BY F.DEAL_SEQ 
	</select>
</mapper>