<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qifenqian.bms.accounting.acctseveninner.mapper.AcctSevenInnerMapper">
	<select id="queryAcctSevenInnerList" resultType="com.qifenqian.bms.accounting.acctseveninner.bean.AcctSevenInner" parameterType="com.qifenqian.bms.accounting.acctseveninner.bean.AcctSevenInner">
		SELECT
		ACCT_ID,
		ACCT_NAME,
		SUBJECT_ID,
		CURR_CODE,
		BALANCE,
		BALANCE_FLAG,
		STATUS,
		INST_DATE,
		DATE_FORMAT(INST_DATETIME,'%Y-%m-%d %H:%i:%s') as instDatetime
		FROM
		ACCT_SEVEN_INNER
		WHERE 1=1
		<if test="acctName!='' and acctName!=null">
			AND ACCT_NAME LIKE CONCAT('%',#{acctName},'%')
		</if>
		<if test="acctId!='' and acctId!=null">
			AND ACCT_ID LIKE CONCAT('%',#{acctId},'%')
		</if>
		ORDER BY INST_DATETIME DESC
	</select>
</mapper>